// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';

@import '@casts/theme/styles/scss/table';
@import '@casts/theme/styles/scss/vars/table';

@import '@casts/theme/styles/plugins/helper/scrollbar';

$table-prefix-cls: #{$prefix-cls}-table;

.#{$table-prefix-cls} {
  position: relative;

  &-content {
    position: relative;
    overflow: auto;

    @include scrollbar(8px, 2px);

    &::-webkit-scrollbar:vertical {
      border-inline-start: 1px solid rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar:horizontal {
      border-block-start: 1px solid rgba(0, 0, 0, 0.1);
    }

    &::-webkit-scrollbar-corner {
      display: none;
    }
  }

  table {
    min-width: 100%;
    height: 100%;

    text-align: left;

    table-layout: fixed;
    border-spacing: 0;

    tr {
      background-color: inherit;
      transition: background-color $motion-duration-rapid $motion-easing-in-out;
    }

    th,
    td {
      padding: $table-cell-space-vertical $table-cell-space-horizontal;
      font-size: $table-font-size;
      font-weight: $table-font-weight;
      line-height: $table-line-height;
      background-color: inherit;

      transition: box-shadow $motion-duration-rapid $motion-easing-in-out;

      .#{$prefix-cls}-checkbox {
        vertical-align: text-bottom;
      }
    }

    .#{$table-prefix-cls}-thead,
    .#{$table-prefix-cls}-foot {
      min-height: $table-row-size;
      font-weight: normal;
      color: $table-thead-color-text;
      background-color: $table-thead-color-surface;
    }

    tbody {
      background-color: $color-surface-container-default;
    }
  }

  &--round {
    .#{$table-prefix-cls}-content {
      border-radius: $table-radius;
    }

    .#{$table-prefix-cls}-loading {
      border-radius: $table-radius;
    }
  }

  &--row-round {
    & {
      th,
      td {
        &:first-child {
          border-top-left-radius: $table-radius;
          border-bottom-left-radius: $table-radius;
        }

        &:last-child {
          border-top-right-radius: $table-radius;
          border-bottom-right-radius: $table-radius;
        }
      }
    }
  }

  &--stripe {
    table {
      tbody {
        tr:nth-child(even) {
          background-color: $table-thead-color-surface;
        }
      }
    }
  }

  &--bordered {
    .#{$table-prefix-cls}-content {
      border: $border-width-xsmall solid $table-color-border;
    }

    tfoot {
      tr:first-child {
        th {
          border-top: $border-width-xsmall solid $table-color-border;
        }
      }

      tr:last-child {
        th {
          border-bottom: none;
        }
      }
    }
  }

  &--cell-bordered {
    table {
      th,
      td {
        border-bottom: $border-width-xsmall solid $table-color-border;

        &:not(:first-child) {
          border-left: $border-width-xsmall solid $table-color-border;
        }
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }

  &--row-bordered {
    th,
    td {
      border-bottom: $border-width-xsmall solid $table-color-border;
    }

    tr:last-child {
      td {
        border-bottom: none;
      }
    }
  }

  &--header-fixed {
    table {
      .#{$table-prefix-cls}-thead {
        position: sticky;
        top: 0;
        z-index: 10;
      }
    }
  }

  &--footer-fixed {
    tfoot {
      position: sticky;
      bottom: 0;
    }
  }

  &-row {
    th,
    td {
      transition: background-color $motion-duration-rapid $motion-easing-in-out;
    }

    &--selected {
      th,
      td {
        background-color: $color-surface-neutral-default;
      }
    }
  }

  &--hover-able {
    table {
      tbody {
        tr:hover {
          background-color: $table-row-color-surface-hover;
        }
      }
    }
  }

  &-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: $space-105-x;
  }

  &-loading {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: $elevation-z-index-low;
    z-index: $elevation-z-index-low;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-surface-container-default;
    opacity: $opacity-60;
  }

  &-empty {
    padding: $space-105-x;
  }

  &-column--pinning {
    &-left {
      z-index: 2;
      &::after {
        position: absolute;
        top: 1px;
        right: 0;
        bottom: 1px;
        bottom: 1px;
        width: 30px;
        pointer-events: none;
        content: '';
        transition: box-shadow $motion-duration-rapid $motion-easing-in-out;
        transform: translateX(100%);
      }

      &-last {
        &::after {
          box-shadow: inset 8px 0px 4px 0px $color-shadow-level-1;
        }
      }
    }

    &-right {
      z-index: 2;
      &::before {
        position: absolute;
        top: 1px;
        bottom: 1px;
        bottom: 1px;
        left: 0;
        width: 30px;
        pointer-events: none;
        content: '';
        transition: box-shadow $motion-duration-rapid $motion-easing-in-out;
        transform: translateX(-100%);
      }

      &-first {
        &::before {
          box-shadow: inset -8px 0px 4px 0px $color-shadow-level-1;
        }
      }
    }
  }
}
