// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';

.demo-page-container {
  padding: $space-2-x;
  background-color: $color-surface-page;
  border-radius: $radius-medium;

  .cds-head-menu + .cds-head-menu {
    margin-top: 20px;
  }
}
