@use '@casts/theme/styles/scss/vars/core';

.demo-page-container {
  padding: core.$space-2-x;
  background-color: core.$color-surface-page;
  border-radius: core.$radius-medium;

  .cds-head-menu + .cds-head-menu {
    margin-top: 20px;
  }
}
