@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/tooltip' as base-tooltip;
@use '@casts/theme/styles/scss/vars/tooltip';

@use '@casts/theme/styles/plugins/motion/fade';

$tooltip-prefix-cls: #{core.$prefix-cls}-tooltip;

.#{$tooltip-prefix-cls} {
  &.#{$tooltip-prefix-cls}--square {
    border-radius: 0px;
  }

  &.#{$tooltip-prefix-cls}--round {
    border-radius: tooltip.$tooltip-radius;
  }

  &.#{$tooltip-prefix-cls}--circle {
    padding-right: tooltip.$tooltip-space;
    padding-left: tooltip.$tooltip-space;
    border-radius: core.$radius-pill;
  }
}
