@use '@casts/theme/styles/scss/vars/core';

.#{core.$prefix-cls}-icon-flip-vertical-arrow-line {
  path {
    stroke: currentColor;
    stroke-width: 1.5;
    transition: d core.$motion-duration-slow;
  }

  &--flip {
    path {
      d: path('M3.75 10.2002L7.99274 5.7998L12.2361 10.0425');
    }
  }
}
