@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/vars/anchor' as vars-anchor;
@use '@casts/theme/styles/scss/anchor' as base-anchor;

.#{base-anchor.$prefix-cls}-anchor {
  position: sticky;
  top: 0px;
  flex-shrink: 0;
  height: fit-content;
  padding: 0;
  margin: 0;
  color: core.$color-text-primary;

  list-style: none;

  &::before {
    position: absolute;
    left: 0px;
    display: block;
    width: vars-anchor.$anchor-border-width;
    height: 100%;
    content: '';
    background-color: core.$color-border-component-default;
    border-radius: core.$radius-medium;
  }

  &,
  ul {
    padding-left: vars-anchor.$anchor-space-indent;
    margin: 0px;
    list-style: none;
  }

  &-link {
    overflow: hidden;
    font-size: vars-anchor.$anchor-link-font-size;
    line-height: vars-anchor.$anchor-link-line-height;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--active {
      color: vars-anchor.$anchor-link-color-text-active;
    }

    .#{base-anchor.$prefix-cls}-anchor-link-children {
      color: vars-anchor.$anchor-link-color-text-default;
    }

    .#{base-anchor.$prefix-cls}-anchor-link-title {
      display: block;
      width: 100%;

      padding: vars-anchor.$anchor-link-title-space-inset-vertical
        vars-anchor.$anchor-link-title-space-inset-horizontal;
      margin-top: vars-anchor.$anchor-link-title-space-outset-vertical;
      margin-bottom: vars-anchor.$anchor-link-title-space-outset-vertical;
      overflow: hidden;
      text-decoration: none;
      text-overflow: ellipsis;
      border-radius: vars-anchor.$anchor-radius;

      transition: color core.$motion-duration-rapid core.$motion-easing-in-out;

      &,
      &:visited {
        color: inherit;
      }

      &:hover {
        color: vars-anchor.$anchor-link-color-text-hover;
      }

      &:active {
        color: vars-anchor.$anchor-link-color-text-active;
      }
    }
  }

  &-cursor {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: vars-anchor.$anchor-border-width;
    height: vars-anchor.$anchor-border-width;

    background-color: vars-anchor.$anchor-cursor-color;
    border-radius: vars-anchor.$anchor-radius;

    transition:
      top core.$motion-duration-rapid core.$motion-easing-in-out,
      left core.$motion-duration-rapid core.$motion-easing-in-out,
      height core.$motion-duration-rapid core.$motion-easing-in-out,
      width core.$motion-duration-rapid core.$motion-easing-in-out;
  }

  &--horizontal {
    display: flex;
    padding-bottom: vars-anchor.$anchor-space-indent;
    padding-left: 0;

    &::before {
      position: absolute;
      bottom: 0px;
      left: unset;
      width: 100%;
      height: vars-anchor.$anchor-border-width;
    }
  }
}
