@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/divider' as base-divider;
@use '@casts/theme/styles/scss/vars/divider';

$divider-prefix-cls: #{divider.$prefix-cls}-divider;

.#{$divider-prefix-cls} {
  align-items: center;

  &-content {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
  }

  &::before,
  &::after {
    display: inline-block;
    flex: 1;
    content: '';
  }

  &--vertical {
    display: inline-flex;
    flex-direction: column;
    margin-right: divider.$divider-space-horizontal;
    margin-left: divider.$divider-space-horizontal;
    vertical-align: middle;

    &:not(.#{$divider-prefix-cls}--with-content) {
      height: divider.$divider-size-vertical;
    }

    &::before,
    &::after {
      border-inline-start: divider.$divider-border-width solid
        divider.$divider-color-border-default;
    }

    .#{$divider-prefix-cls}-content {
      padding-top: divider.$divider-space-horizontal;
      padding-bottom: divider.$divider-space-horizontal;
      writing-mode: vertical-lr;
    }

    &.#{$divider-prefix-cls}--align {
      &-start {
        &::before {
          max-height: divider.$divider-size-horizontal-max;
        }
      }

      &-end {
        &::after {
          max-height: divider.$divider-size-horizontal-max;
        }
      }
    }
  }

  &--horizontal {
    display: flex;
    width: 100%;
    margin-top: divider.$divider-space-horizontal;
    margin-bottom: divider.$divider-space-horizontal;
    vertical-align: middle;

    &::before,
    &::after {
      border-block-start: divider.$divider-border-width solid
        divider.$divider-color-border-default;
    }

    &.#{$divider-prefix-cls}--align {
      &-start {
        &::before {
          max-width: divider.$divider-size-horizontal-max;
        }
      }

      &-end {
        &::after {
          max-width: divider.$divider-size-horizontal-max;
        }
      }
    }

    .#{$divider-prefix-cls}-content {
      padding-right: divider.$divider-space-horizontal;
      padding-left: divider.$divider-space-horizontal;
    }
  }
}
