.casts-icons-section {
  .casts-icons-section-title {
    padding: 24px;
    font-size: 24px;
  }

  .casts-icons-section-content {
    margin: 0 8px;
    .casts-icon-wrapper {
      display: inline-block;
      padding: 16px;
    }
  }
}
