@use '@casts/theme/styles/scss/vars/core';

@use '@casts/theme/styles/scss/drawer' as base-drawer;
@use '@casts/theme/styles/scss/vars/drawer';

@use '@casts/theme/styles/plugins/motion/fade';

@use '@casts/theme/styles/plugins/helper/scrollbar';

$drawer-prefix-cls: #{core.$prefix-cls}-drawer;

.#{$drawer-prefix-cls} {
  position: absolute;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  appearance: none;
  background-color: drawer.$drawer-color-surface;

  box-shadow: drawer.$drawer-shadow;

  /* --------------------------------- placement ---------------------------------------- */
  &--top {
    top: 0px;
  }

  &--bottom {
    bottom: 0px;
  }

  &--left {
    left: 0px;
  }

  &--right {
    right: 0px;
  }

  &--top,
  &--bottom {
    height: 300px;
  }

  &--left,
  &--right {
    width: 300px;
  }

  /* --------------------------------- container ---------------------------------------- */
  &-root {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: core.$elevation-z-index-overlay;
    width: 100%;
    height: 100%;
    outline: none;

    &.exit-done {
      display: none;
    }
  }

  /* --------------------------------- mask ---------------------------------------- */
  &-overlay {
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: drawer.$drawer-mask-color-surface;
    outline: none;
  }

  /* --------------------------------- children ---------------------------------------- */
  & &-close {
    position: absolute;
    top: drawer.$drawer-close-space-top;
    right: drawer.$drawer-close-space-right;
  }

  &-header {
    display: flex;
    align-items: center;

    min-height: drawer.$drawer-header-size-min-height;

    padding: drawer.$drawer-space-vertical drawer.$drawer-space-horizontal;

    font-size: drawer.$drawer-header-font-size;
    line-height: drawer.$drawer-header-line-height;

    word-break: break-all;

    border-bottom: core.$border-width-xsmall solid drawer.$drawer-color-border;

    @at-root .#{$drawer-prefix-cls}--closeable & {
      padding-right: core.$space-2-x;
    }
  }

  &-content {
    flex: 1;
    padding: drawer.$drawer-space-vertical drawer.$drawer-space-horizontal;

    overflow-y: auto;
    overflow-y: overlay;

    @include scrollbar.scrollbar(8px, 2px);
  }

  &-footer {
    display: flex;
    align-items: center;
    padding: drawer.$drawer-space-vertical drawer.$drawer-space-horizontal;

    border-top: core.$border-width-xsmall solid
      core.$color-border-component-default;
  }
}
