@import '@casts/theme/scss/_variables.scss';

.#{$prefix-cls}-button {
  @at-root &-group > & {
    &:not(:first-child) {
      border-left-width: 0px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
    &:not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}
