@import '@casts/theme/styles/css/core';
@import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/css/notification';
@import '@casts/theme/styles/scss/notification';

@import '@casts/theme/styles/plugins/motion/fade';

$notification-prefix-cls: #{$prefix-cls}-notification;

.#{$notification-prefix-cls} {
  z-index: $notification-elevation-z-index;
  display: flex;
  gap: $space-half-x;
  align-items: flex-start;
  width: fit-content;
  padding: $notification-space-inset;
  margin-right: $space-half-x;
  margin-left: $space-half-x;
  font-size: $notification-body-font-size;
  color: $color-text-primary;
  background-color: $color-surface-container-default;
  border-left: $border-width-medium solid transparent;
  border-radius: $notification-radius;
  box-shadow: $notification-shadow;

  svg {
    font-size: inherit;
  }

  &-icon {
    flex-shrink: 0;
    font-size: 0;

    .#{$prefix-cls}-circular-progress-container,
    svg {
      width: $notification-title-line-height;
      height: $notification-title-line-height;
      font-size: $notification-title-line-height;
    }

    @at-root .#{$notification-prefix-cls}--info:not(.#{$notification-prefix-cls}--theme-solid)
        & {
      color: $notification-color-shape-info-default;
    }
    @at-root .#{$notification-prefix-cls}--success:not(.#{$notification-prefix-cls}--theme-solid)
        & {
      color: $notification-color-shape-success-default;
    }
    @at-root .#{$notification-prefix-cls}--warning:not(.#{$notification-prefix-cls}--theme-solid)
        & {
      color: $notification-color-shape-warning-default;
    }
    @at-root .#{$notification-prefix-cls}--error:not(.#{$notification-prefix-cls}--theme-solid)
        & {
      color: $notification-color-shape-danger-default;
    }
    .#{$prefix-cls}-circular-progress-container {
      color: currentColor;
    }
  }

  &-body {
    flex: 1;
    overflow: hidden;
    font-size: $notification-body-font-size;
    line-height: $notification-body-line-height;

    .#{$notification-prefix-cls}-header {
      display: flex;
      align-items: center;
      font-size: $notification-title-font-size;
      line-height: $notification-title-line-height;

      .#{$notification-prefix-cls}-title {
        flex: 1;
        font-weight: $font-weight-bold;
      }
    }
    .#{$notification-prefix-cls}-footer {
      text-align: right;
    }

    & {
      div + div {
        margin-top: $space-half-x;
      }
    }
  }

  &-close {
    display: inline-flex;
    flex-shrink: 0;
    align-items: top;
    padding: 0;
    font-size: $notification-body-font-size;
    line-height: $notification-title-line-height;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0.7;
    transition: opacity $motion-duration-rapid $motion-easing-in-out;
    &:hover {
      opacity: 0.84;
    }
    &:active {
      opacity: 0.96;
    }
    svg {
      font-size: $notification-title-line-height;
    }
  }
  & {
    &.#{$notification-prefix-cls}--loading {
      color: $color-surface-container-default;
    }
    &.#{$notification-prefix-cls}--info {
      border-color: $notification-color-shape-info-default;
    }
    &.#{$notification-prefix-cls}--success {
      border-color: $notification-color-shape-success-default;
    }
    &.#{$notification-prefix-cls}--warning {
      border-color: $notification-color-shape-warning-default;
    }
    &.#{$notification-prefix-cls}--error {
      border-color: $notification-color-shape-danger-default;
    }
  }
  &--theme-solid {
    &:not(.#{$notification-prefix-cls}--loading) {
      color: $color-surface-container-default;
    }
    &.#{$notification-prefix-cls}--info {
      background-color: $notification-color-shape-info-default;
    }
    &.#{$notification-prefix-cls}--success {
      background-color: $notification-color-shape-success-default;
    }
    &.#{$notification-prefix-cls}--warning {
      background-color: $notification-color-shape-warning-default;
    }
    &.#{$notification-prefix-cls}--error {
      background-color: $notification-color-shape-danger-default;
    }
  }

  // unify icon size
  .#{$prefix-cls}-circular-progress-container {
    transform: scale(0.85);
  }
}
