@import '@casts/theme/scss/colors';
@import './token.scss';

.#{$notification-prefix-cls} {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  padding: var(--#{$notification-prefix-cls}-padding);
  margin-right: 8px;
  margin-left: 8px;
  font-size: var(--#{$notification-prefix-cls}-font-size);
  color: $text-color-primary;
  background-color: #fff;
  border-left: 4px solid transparent;
  border-radius: var(--#{$notification-prefix-cls}-border-radius);
  box-shadow: var(--#{$notification-prefix-cls}-box-shadow);

  svg {
    font-size: inherit;
  }

  &-icon {
    flex-shrink: 0;
    margin-right: 12px;
    font-size: 0;

    .#{$prefix-cls}-circular-progress-container,
    svg {
      width: var(--#{$notification-prefix-cls}-header-line-height);
      height: var(--#{$notification-prefix-cls}-header-line-height);
      font-size: var(--#{$notification-prefix-cls}-header-line-height);
    }

    @at-root .#{$notification-prefix-cls}--loading & {
      color: $text-color-disabled;
    }
    @at-root .#{$notification-prefix-cls}--info:not(.#{$notification-prefix-cls}--fill)
        & {
      color: $color-info;
    }
    @at-root .#{$notification-prefix-cls}--success:not(.#{$notification-prefix-cls}--fill)
        & {
      color: $color-success;
    }
    @at-root .#{$notification-prefix-cls}--warning:not(.#{$notification-prefix-cls}--fill)
        & {
      color: $color-warning;
    }
    @at-root .#{$notification-prefix-cls}--error:not(.#{$notification-prefix-cls}--fill)
        & {
      color: $color-error;
    }
    .#{$prefix-cls}-circular-progress-container {
      color: currentColor;
    }
  }
  &-body {
    flex: 1;
    overflow: hidden;
    font-size: var(--#{$notification-prefix-cls}-font-size);
    line-height: var(--#{$notification-prefix-cls}-line-height);

    .#{$notification-prefix-cls}-header {
      display: flex;
      align-items: center;
      font-size: var(--#{$notification-prefix-cls}-header-font-size);
      line-height: var(--#{$notification-prefix-cls}-header-line-height);

      .#{$notification-prefix-cls}-title {
        flex: 1;
        font-weight: 500;
      }
    }
    .#{$notification-prefix-cls}-footer {
      text-align: right;
    }

    & {
      div + div {
        margin-top: 8px;
      }
    }
  }

  &-close {
    display: inline-flex;
    flex-shrink: 0;
    align-items: top;
    padding: 0;
    margin-left: 8px;
    font-size: var(--#{$notification-prefix-cls}-font-size);
    line-height: var(--#{$notification-prefix-cls}-header-line-height);
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0.7;
    transition: opacity 0.25s ease-in-out;
    &:hover {
      opacity: 0.84;
    }
    &:active {
      opacity: 0.96;
    }
    svg {
      font-size: var(--#{$notification-prefix-cls}-header-line-height);
    }
  }
  & {
    &.#{$notification-prefix-cls}--loading {
      border-color: $text-color-disabled;
    }
    &.#{$notification-prefix-cls}--info {
      border-color: $color-info;
    }
    &.#{$notification-prefix-cls}--success {
      border-color: $color-success;
    }
    &.#{$notification-prefix-cls}--warning {
      border-color: $color-warning;
    }
    &.#{$notification-prefix-cls}--error {
      border-color: $color-error;
    }
  }
  &--fill {
    &:not(.#{$notification-prefix-cls}--loading) {
      color: $color-white;
    }
    &.#{$notification-prefix-cls}--info {
      background-color: $color-info;
    }
    &.#{$notification-prefix-cls}--success {
      background-color: $color-success;
    }
    &.#{$notification-prefix-cls}--warning {
      background-color: $color-warning;
    }
    &.#{$notification-prefix-cls}--error {
      background-color: $color-error;
    }
  }
}
