@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/notification' as base-notification;
@use '@casts/theme/styles/scss/vars/notification';

@use '@casts/theme/styles/plugins/motion/fade';

$notification-prefix-cls: #{core.$prefix-cls}-notification;

.#{$notification-prefix-cls} {
  z-index: notification.$notification-elevation-z-index;
  display: flex;
  gap: core.$space-05-x;
  align-items: flex-start;
  width: fit-content;
  padding: notification.$notification-space-inset;
  margin-right: core.$space-05-x;
  margin-left: core.$space-05-x;
  font-size: notification.$notification-body-font-size;
  color: core.$color-text-primary;
  background-color: core.$color-surface-container-default;
  border-left: core.$border-width-medium solid transparent;
  border-radius: notification.$notification-radius;
  box-shadow: notification.$notification-shadow;

  svg {
    font-size: inherit;
  }

  &-icon {
    flex-shrink: 0;
    font-size: 0;
    line-height: 0;

    .#{core.$prefix-cls}-circular-progress-container,
    svg {
      width: notification.$notification-title-line-height;
      height: notification.$notification-title-line-height;
      font-size: notification.$notification-title-line-height;
    }

    @at-root .#{$notification-prefix-cls}--info:not(
          .#{$notification-prefix-cls}--theme-solid
        )
        & {
      color: notification.$notification-color-shape-info-default;
    }

    @at-root .#{$notification-prefix-cls}--success:not(
          .#{$notification-prefix-cls}--theme-solid
        )
        & {
      color: notification.$notification-color-shape-success-default;
    }

    @at-root .#{$notification-prefix-cls}--warning:not(
          .#{$notification-prefix-cls}--theme-solid
        )
        & {
      color: notification.$notification-color-shape-warning-default;
    }

    @at-root .#{$notification-prefix-cls}--error:not(
          .#{$notification-prefix-cls}--theme-solid
        )
        & {
      color: notification.$notification-color-shape-danger-default;
    }

    .#{core.$prefix-cls}-circular-progress-container {
      color: currentColor;
    }
  }

  &-body {
    flex: 1;
    overflow: hidden;
    font-size: notification.$notification-body-font-size;
    line-height: notification.$notification-body-line-height;

    .#{$notification-prefix-cls}-header {
      display: flex;
      align-items: center;
      font-size: notification.$notification-title-font-size;
      line-height: notification.$notification-title-line-height;

      .#{$notification-prefix-cls}-title {
        flex: 1;
        font-weight: core.$font-weight-bold;
      }
    }

    .#{$notification-prefix-cls}-footer {
      text-align: right;
    }

    & {
      div + div {
        margin-top: core.$space-05-x;
      }
    }
  }

  &-close {
    display: inline-flex;
    flex-shrink: 0;
    align-items: top;
    padding: 0;
    font-size: notification.$notification-body-font-size;
    line-height: notification.$notification-title-line-height;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0.7;
    transition: opacity fade.$motion-duration-rapid fade.$motion-easing-in-out;

    &:hover {
      opacity: 0.84;
    }

    &:active {
      opacity: 0.96;
    }

    svg {
      font-size: notification.$notification-title-line-height;
    }
  }

  & {
    &.#{$notification-prefix-cls}--loading {
      color: core.$color-surface-container-default;
    }

    &.#{$notification-prefix-cls}--info {
      border-color: notification.$notification-color-shape-info-default;
    }

    &.#{$notification-prefix-cls}--success {
      border-color: notification.$notification-color-shape-success-default;
    }

    &.#{$notification-prefix-cls}--warning {
      border-color: notification.$notification-color-shape-warning-default;
    }

    &.#{$notification-prefix-cls}--error {
      border-color: notification.$notification-color-shape-danger-default;
    }
  }

  &--theme-solid {
    &:not(.#{$notification-prefix-cls}--loading) {
      color: core.$color-palette-white;
    }

    &.#{$notification-prefix-cls}--info {
      background-color: notification.$notification-color-shape-info-default;
    }

    &.#{$notification-prefix-cls}--success {
      background-color: notification.$notification-color-shape-success-default;
    }

    &.#{$notification-prefix-cls}--warning {
      background-color: notification.$notification-color-shape-warning-default;
    }

    &.#{$notification-prefix-cls}--error {
      background-color: notification.$notification-color-shape-danger-default;
    }
  }

  // unify icon size
  .#{core.$prefix-cls}-circular-progress-container {
    transform: scale(0.85);
  }
}
