// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';

$theme-generator-prefix-cls: #{$prefix-cls}-theme-generator;

.#{$theme-generator-prefix-cls} {
  max-width: 320px;

  &-drawer {
    .#{$prefix-cls}-drawer-overlay {
      background-color: transparent;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      padding-right: $space-05-x;
    }

    & + & {
      margin-top: $space-1-x;
    }
  }

  &-picker {
    display: inline-flex;
    gap: $space-05-x;
    align-items: center;
    width: 128px;
    padding: $space-05-x;
    cursor: pointer;
    border: $border-width-xsmall solid $color-border-component-default;
    border-radius: $radius-medium;

    &-preview {
      flex-shrink: 0;
      width: $size-small;
      height: $size-small;
      border-radius: $radius-medium;
      box-shadow: $shadow-level-1;
    }
  }
}
