@use '@casts/theme/styles/scss/vars/core';

$theme-generator-prefix-cls: #{core.$prefix-cls}-theme-generator;

.#{$theme-generator-prefix-cls} {
  max-width: 320px;

  &-drawer {
    .#{core.$prefix-cls}-drawer-overlay {
      background-color: transparent;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      padding-right: core.$space-05-x;
    }

    & + & {
      margin-top: core.$space-1-x;
    }
  }

  &-picker {
    display: inline-flex;
    gap: core.$space-05-x;
    align-items: center;
    width: 128px;
    padding: core.$space-05-x;
    cursor: pointer;
    border: core.$border-width-xsmall solid core.$color-border-component-default;
    border-radius: core.$radius-medium;

    &-preview {
      flex-shrink: 0;
      width: core.$size-small;
      height: core.$size-small;
      border-radius: core.$radius-medium;
      box-shadow: core.$shadow-level-1;
    }
  }
}
