@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/alert' as base-alert;
@use '@casts/theme/styles/scss/vars/alert';

@use '@casts/theme/styles/plugins/motion/fade';

$alert-prefix-cls: #{core.$prefix-cls}-alert;

.#{$alert-prefix-cls} {
  display: flex;
  gap: core.$space-075-x;
  align-items: flex-start;
  width: fit-content;
  padding: alert.$alert-space;
  font-size: alert.$alert-body-font-size;
  color: core.$color-text-primary;
  background-color: alert.$alert-color-surface-component-default;
  border: core.$border-width-xsmall solid transparent;
  border-radius: alert.$alert-radius;

  svg {
    font-size: inherit;
  }

  &-icon {
    flex-shrink: 0;
    font-size: 0;

    .#{core.$prefix-cls}-circular-progress-container,
    svg {
      width: alert.$alert-title-line-height;
      height: alert.$alert-title-line-height;
      font-size: alert.$alert-title-line-height;
    }

    @at-root .#{$alert-prefix-cls}--info:not(.#{$alert-prefix-cls}--theme-solid)
        & {
      color: alert.$alert-color-surface-info-default-on-solid;
    }

    @at-root .#{$alert-prefix-cls}--success:not(
          .#{$alert-prefix-cls}--theme-solid
        )
        & {
      color: alert.$alert-color-surface-success-default-on-solid;
    }

    @at-root .#{$alert-prefix-cls}--warning:not(
          .#{$alert-prefix-cls}--theme-solid
        )
        & {
      color: alert.$alert-color-surface-warning-default-on-solid;
    }

    @at-root .#{$alert-prefix-cls}--error:not(
          .#{$alert-prefix-cls}--theme-solid
        )
        & {
      color: alert.$alert-color-surface-danger-default-on-solid;
    }

    .#{core.$prefix-cls}-circular-progress-container {
      color: currentColor;
    }
  }

  &-body {
    flex: 1;
    overflow: hidden;
    font-size: alert.$alert-body-font-size;
    line-height: alert.$alert-body-line-height;

    .#{$alert-prefix-cls}-header {
      display: flex;
      align-items: center;
      font-size: alert.$alert-title-font-size;
      line-height: alert.$alert-title-line-height;

      .#{$alert-prefix-cls}-title {
        flex: 1;
        font-weight: core.$font-weight-bold;
      }
    }

    @at-root .#{$alert-prefix-cls}-content {
      margin-top: core.$space-0125-x;
    }

    .#{$alert-prefix-cls}-footer {
      text-align: right;
    }

    & > div + div {
      margin-top: core.$space-05-x;
    }
  }

  &-close {
    display: inline-flex;
    flex-shrink: 0;
    align-items: flex-start;
    padding: 0;
    font-size: alert.$alert-body-font-size;
    line-height: alert.$alert-title-line-height;
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: core.$opacity-60;
    transition: opacity fade.$motion-duration-rapid fade.$motion-easing-in-out;

    &:hover {
      opacity: core.$opacity-84;
    }

    &:active {
      opacity: core.$opacity-90;
    }

    svg {
      font-size: alert.$alert-title-line-height;
    }
  }

  & {
    &.#{$alert-prefix-cls}--loading {
      color: core.$color-surface-container-default;
    }

    &.#{$alert-prefix-cls}--info {
      background-color: alert.$alert-color-surface-info-default-on-pastel;
    }

    &.#{$alert-prefix-cls}--success {
      background-color: alert.$alert-color-surface-success-default-on-pastel;
    }

    &.#{$alert-prefix-cls}--warning {
      background-color: alert.$alert-color-surface-warning-default-on-pastel;
    }

    &.#{$alert-prefix-cls}--error {
      background-color: alert.$alert-color-surface-danger-default-on-pastel;
    }
  }

  &--theme-solid {
    &:not(.#{$alert-prefix-cls}--loading) {
      color: core.$color-palette-white;
    }

    &.#{$alert-prefix-cls}--info {
      background-color: alert.$alert-color-surface-info-default-on-solid;
    }

    &.#{$alert-prefix-cls}--success {
      background-color: alert.$alert-color-surface-success-default-on-solid;
    }

    &.#{$alert-prefix-cls}--warning {
      background-color: alert.$alert-color-surface-warning-default-on-solid;
    }

    &.#{$alert-prefix-cls}--error {
      background-color: alert.$alert-color-surface-danger-default-on-solid;
    }
  }

  // unify icon size
  .#{core.$prefix-cls}-circular-progress-container {
    transform: scale(0.85);
  }
}
