@import '@casts/theme/scss/colors';
@import '@casts/theme/scss/animation';

$alert-prefix-cls: #{$prefix-cls}-alert;

:root {
  --#{$alert-prefix-cls}-padding: 10px 16px;
  --#{$alert-prefix-cls}-border-radius: #{$border-radius-base};
  --#{$alert-prefix-cls}-box-shadow: #{$shadow-2};
  --#{$alert-prefix-cls}-font-size: #{$font-size-base};
  --#{$alert-prefix-cls}-line-height: #{$font-size-base + 8px};
  --#{$alert-prefix-cls}-header-font-size: #{$font-size-large};
  --#{$alert-prefix-cls}-header-line-height: #{$font-size-large + 8px};
}

.#{$alert-prefix-cls} {
  display: flex;
  align-items: flex-start;
  width: fit-content;
  padding: var(--#{$alert-prefix-cls}-padding);
  font-size: var(--#{$alert-prefix-cls}-font-size);
  color: var(--color-black);
  background-color: $bg-color-container;
  border: 1px solid transparent;
  border-radius: var(--#{$alert-prefix-cls}-border-radius);

  svg {
    font-size: inherit;
  }

  &-icon {
    flex-shrink: 0;
    margin-right: 12px;
    font-size: 0;

    .#{$prefix-cls}-circular-progress-container,
    svg {
      width: var(--#{$alert-prefix-cls}-header-line-height);
      height: var(--#{$alert-prefix-cls}-header-line-height);
      font-size: var(--#{$alert-prefix-cls}-header-line-height);
    }

    @at-root .#{$alert-prefix-cls}--loading & {
      color: $text-color-disabled;
    }
    @at-root .#{$alert-prefix-cls}--info:not(.#{$alert-prefix-cls}--fill) & {
      color: $color-info;
    }
    @at-root .#{$alert-prefix-cls}--success:not(.#{$alert-prefix-cls}--fill) & {
      color: $color-success;
    }
    @at-root .#{$alert-prefix-cls}--warning:not(.#{$alert-prefix-cls}--fill) & {
      color: $color-warning;
    }
    @at-root .#{$alert-prefix-cls}--error:not(.#{$alert-prefix-cls}--fill) & {
      color: $color-error;
    }
    .#{$prefix-cls}-circular-progress-container {
      color: currentColor;
    }
  }
  &-body {
    flex: 1;
    overflow: hidden;
    font-size: var(--#{$alert-prefix-cls}-font-size);
    line-height: var(--#{$alert-prefix-cls}-line-height);

    .#{$alert-prefix-cls}-header {
      display: flex;
      align-items: center;
      font-size: var(--#{$alert-prefix-cls}-header-font-size);
      line-height: var(--#{$alert-prefix-cls}-header-line-height);

      .#{$alert-prefix-cls}-title {
        flex: 1;
        font-weight: 500;
      }
    }
    .#{$alert-prefix-cls}-footer {
      text-align: right;
    }

    & > div + div {
      margin-top: 8px;
    }
  }

  &-close {
    display: inline-flex;
    flex-shrink: 0;
    align-items: top;
    padding: 0;
    margin-left: 8px;
    font-size: var(--#{$alert-prefix-cls}-font-size);
    line-height: var(--#{$alert-prefix-cls}-header-line-height);
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    opacity: 0.7;
    transition: opacity 0.25s ease-in-out;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.96;
    }
    svg {
      font-size: var(--#{$alert-prefix-cls}-header-line-height);
    }
  }
  & {
    &.#{$alert-prefix-cls}--info {
      background-color: $color-info-shadow-active;
    }
    &.#{$alert-prefix-cls}--success {
      background-color: $color-success-shadow-active;
    }
    &.#{$alert-prefix-cls}--warning {
      background-color: $color-warning-shadow-active;
    }
    &.#{$alert-prefix-cls}--error {
      background-color: $color-error-shadow-active;
    }
  }
  &--fill {
    color: $color-white;
    &.#{$alert-prefix-cls}--info {
      background-color: $color-info;
    }
    &.#{$alert-prefix-cls}--success {
      background-color: $color-success;
    }
    &.#{$alert-prefix-cls}--warning {
      background-color: $color-warning;
    }
    &.#{$alert-prefix-cls}--error {
      background-color: $color-error;
    }
  }
}
