@use 'sass:map';
@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/avatar' as base-avatar;
@use '@casts/theme/styles/scss/vars/avatar';

$avatar-prefix-cls: #{avatar.$prefix-cls}-avatar;

$avatar-sizes: 'small', 'medium', 'large';
$avatar-shapes: 'circle', 'round', 'square';

.#{$avatar-prefix-cls} {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: avatar.$avatar-color-shape-default;
  background-color: avatar.$avatar-color-surface-default;

  @each $shape in $avatar-shapes {
    &.#{$avatar-prefix-cls}--#{$shape} {
      border-radius: map.get(avatar.$avatar-tokens, avatar-radius-#{$shape});
    }
  }

  @each $size in $avatar-sizes {
    &.#{$avatar-prefix-cls}--#{$size} {
      width: map.get(avatar.$avatar-tokens, avatar-size-#{$size});
      height: map.get(avatar.$avatar-tokens, avatar-size-#{$size});
      font-size: map.get(avatar.$avatar-tokens, avatar-font-size-#{$size});
    }
  }

  &-icon {
    font-size: inherit;
  }

  &-string {
    display: inline-block;
    white-space: nowrap;
  }
}
