@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/plugins/helper/button-style';

@use '@casts/theme/styles/scss/vars/date-picker';

$calendar-prefix-cls: #{date-picker.$prefix-cls}-calendar;

.#{$calendar-prefix-cls} {
  // min-width: 238px;

  &-header {
    display: flex;
    justify-content: space-between;
    min-height: date-picker.$calendar-header-min-height;
    margin-bottom: date-picker.$calendar-header-space-outside;
  }

  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: date-picker.$calendar-footer-space-inset;
    margin: date-picker.$calendar-footer-space-outside;
    border-top: 1px solid core.$color-border-component-default;
  }

  &-navigator {
    display: inline-flex;
    gap: date-picker.$calendar-navigator-space-gap;
    align-items: center;

    & &-prev,
    & &-next {
      color: date-picker.$calendar-navigator-button-color;

      svg {
        transform: scale(1.5);
      }
    }
  }

  &-month {
    border-collapse: collapse;

    tr {
      .#{$calendar-prefix-cls}-day-cell:first-child {
        &::before {
          left: 1px;
        }
      }
      .#{$calendar-prefix-cls}-day-cell:last-child {
        &::before {
          right: 1px;
        }
      }
    }
  }

  &-weekday {
    display: inline-block;
    height: 32px;
    // margin-bottom: $calendar-weekday-margin-bottom;
    font-weight: normal;
    line-height: 32px;
    color: date-picker.$calendar-weekday-color-text;
  }

  &-day-cell {
    position: relative;
    padding: 1px;
    text-align: center;

    &::before {
      position: absolute;
      top: 1px;
      right: 0px;
      bottom: 1px;
      left: 0px;
      z-index: 0;
      display: inline-block;
      content: '';
      background-color: transparent;
      transition:
        background-color core.$motion-duration-rapid core.$motion-easing-in-out,
        color core.$motion-duration-rapid core.$motion-easing-in-out;
    }

    &-button {
      position: relative;
      min-width: date-picker.$calendar-day-cell-min-width;
      min-height: date-picker.$calendar-day-cell-min-height;
      padding-right: date-picker.$calendar-day-cell-padding-horizontal;
      padding-left: date-picker.$calendar-day-cell-padding-horizontal;

      @include button-style.button-style(
        $selector: #{$calendar-prefix-cls}-day-cell-button
      );
      @include button-style.button-color(
        $selector: #{$calendar-prefix-cls}-day-cell-button,
        // $color-surface-active: $color-surface-neutral-hover,
        // $color-text-active: $color-text-neutral-hover,
         // $color-surface-active: transparent
      );
    }

    &.#{$calendar-prefix-cls}-day-cell--outside {
      opacity: core.$opacity-60;
    }

    &.#{$calendar-prefix-cls}-day-cell--range {
      &::before {
        background-color: core.$color-surface-brand-default;
      }

      .#{$calendar-prefix-cls}-day-cell-button {
        color: core.$color-text-brand-default !important;
        background-color: core.$color-surface-brand-default !important;
      }
    }

    &.#{$calendar-prefix-cls}-day-cell--start,
    &.#{$calendar-prefix-cls}-day-cell--end {
      .#{$calendar-prefix-cls}-day-cell-button {
        color: core.$color-palette-white !important;
        background-color: core.$color-shape-brand-default !important;
      }
    }

    &.#{$calendar-prefix-cls}-day-cell--start {
      &::before {
        left: 50% !important;
        background-color: core.$color-surface-brand-default;
      }
    }

    &.#{$calendar-prefix-cls}-day-cell--end {
      &::before {
        right: 50% !important;
        background-color: core.$color-surface-brand-default;
      }
    }
  }

  &-years {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: date-picker.$calendar-years-space-gap;
  }

  &-year-cell {
    min-height: date-picker.$calendar-year-cell-min-height;
    padding-right: date-picker.$calendar-year-cell-padding-horizontal;
    padding-left: date-picker.$calendar-year-cell-padding-horizontal;

    @include button-style.button-style(
      $selector: #{$calendar-prefix-cls}-year-cell
    );
    @include button-style.button-color(
      $selector: #{$calendar-prefix-cls}-year-cell,
      // $color-surface-active: $color-surface-neutral-hover,
      // $color-text-active: $color-text-neutral-hover,
       // $color-surface-active: transparent
    );

    & > * {
      width: 100%;
    }
  }

  &-months {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: date-picker.$calendar-months-space-gap;
  }

  &-month-cell {
    min-height: date-picker.$calendar-month-cell-min-height;
    padding-right: date-picker.$calendar-month-cell-padding-horizontal;
    padding-left: date-picker.$calendar-month-cell-padding-horizontal;

    @include button-style.button-style(
      $selector: #{$calendar-prefix-cls}-month-cell
    );
    @include button-style.button-color(
      $selector: #{$calendar-prefix-cls}-month-cell,
      // $color-surface-active: $color-surface-neutral-hover,
      // $color-text-active: $color-text-neutral-hover,
       // $color-surface-active: transparent
    );

    & > * {
      width: 100%;
    }
  }
}
