@use '@casts/theme/styles/scss/vars/core';

$date-picker-prefix-cls: #{core.$prefix-cls}-date-time-picker;

.#{$date-picker-prefix-cls} {
  &-popup {
    .#{core.$prefix-cls}-popup-content {
      padding: 0px;
    }
  }
  &-panel {
    display: flex;

    @media screen and (max-width: core.$breakpoint-small) {
      flex-direction: column;
    }

    &-date {
      padding: core.$space-0375-x;
    }

    &-time {
      padding: core.$space-0375-x;

      border-left: 1px solid core.$color-border-divider-default;
      @media screen and (max-width: core.$breakpoint-small) {
        border-top: 1px solid core.$color-border-divider-default;
        border-left: none;
        .#{core.$prefix-cls}-time-picker-panel-column {
          height: (32px + 2px) * 3;
        }
      }
    }
  }
}
