@use '@casts/theme/styles/scss/vars/core';

$date-time-range-picker-prefix-cls: #{core.$prefix-cls}-date-time-range-picker;

.#{$date-time-range-picker-prefix-cls} {
  &-popup {
    .#{core.$prefix-cls}-popup-content {
      padding: 0px;
    }
  }
  &-panel {
    display: flex;

    @media screen and (max-width: core.$breakpoint-small) {
      flex-direction: column;
    }

    &-date {
      padding: core.$space-0375-x;
    }

    &-time {
      // padding: $space-0375-x;
      display: flex;
      gap: core.$space-05-x;

      width: 238px;

      .#{core.$prefix-cls}-input-wrap {
        flex: 1 1 auto;
      }

      .#{core.$prefix-cls}-input-inner {
        width: 0px;
      }
    }
  }

  .#{core.$prefix-cls}-range-input-clear {
    position: absolute;
    right: core.$space-105-x;
    background-color: inherit;
    border-radius: 50%;
  }
}
