@use '@casts/theme/styles/scss/vars/core';

$date-range-picker-prefix-cls: #{core.$prefix-cls}-date-range-picker;

.#{$date-range-picker-prefix-cls} {
  .#{core.$prefix-cls}-range-input-clear {
    position: absolute;
    right: core.$space-105-x;
    background-color: inherit;
    border-radius: 50%;
  }
}
