// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';
@import '@casts/theme/styles/plugins/helper/scrollbar';

$time-picker-panel-prefix-cls: #{$prefix-cls}-time-picker-panel;

$cell-height: 28px;
$cell-width: 51px;

.#{$time-picker-panel-prefix-cls} {
  &-header {
    min-height: 32px;
    margin-bottom: $space-025-x;
    text-align: center;
    border-bottom: 1px solid $color-border-divider-default;
  }

  &-body {
    position: relative;
    display: flex;
  }

  &-column {
    position: relative;
    z-index: 1;
    height: $cell-height * 7;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;

    &::-webkit-scrollbar {
      display: none;
    }

    &::before,
    &::after {
      display: block;
      height: calc(50% - $cell-height);
      content: '';
    }

    &::after {
      height: calc(50% - $space-05-x);
    }

    &-mask {
      position: absolute;
      top: calc(50% - $cell-height);
      z-index: 0;
      display: flex;
      width: 100%;

      & > div {
        width: $cell-width;
        height: $cell-height;
        margin: $space-025-x;
        background-color: $color-surface-brand-default;
        border-radius: $radius-medium;
      }
    }
  }

  &-cell {
    width: $cell-width;
    height: $cell-height;
    margin: $space-025-x;
    line-height: $cell-height;
    text-align: center;
    cursor: pointer;
    border-radius: $radius-medium;

    &:hover {
      color: $color-text-neutral-hover;
    }

    &.#{$time-picker-panel-prefix-cls}-cell--selected {
      color: $color-text-brand-default;
      background-color: transparent;
    }
  }
}
