@use '@casts/theme/styles/scss/vars/core';

@use '@casts/theme/styles/plugins/helper/grid';

$col-prefix-cls: #{grid.$prefix-cls}-col;

.#{$col-prefix-cls} {
  position: relative;
  box-sizing: border-box;

  max-width: 100%;
  min-height: 1px;
}

@include grid.gen-grid();

@include grid.gen-grid(-xsmall);

@media (min-width: core.$breakpoint-small) {
  @include grid.gen-grid(-small);
}

@media (min-width: core.$breakpoint-medium) {
  @include grid.gen-grid(-medium);
}

@media (min-width: core.$breakpoint-large) {
  @include grid.gen-grid(-large);
}

@media (min-width: core.$breakpoint-xlarge) {
  @include grid.gen-grid(-xlarge);
}

@media (min-width: core.$breakpoint-xxlarge) {
  @include grid.gen-grid(-xxlarge);
}
