@use 'sass:map';
@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/menu' as base-menu;
@use '@casts/theme/styles/scss/vars/menu';

@use '@casts/theme/styles/plugins/helper/button-style';

@use 'vars';

.#{vars.$head-menu-prefix-cls} {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: menu.$head-menu-space;
  background-color: menu.$menu-color-surface;

  @each $size in vars.$sizes {
    /* --------------------------------- head menu logo size ---------------------------------------- */
    &--#{$size} {
      height: map.get(menu.$menu-tokens, menu-size-#{$size});

      .#{vars.$head-menu-prefix-cls}-logo {
        height: map.get(menu.$menu-tokens, head-menu-logo-size-#{$size});
        font-size: map.get(menu.$menu-tokens, menu-logo-font-size-#{$size});
        line-height: map.get(menu.$menu-tokens, head-menu-logo-size-#{$size});
      }
    }

    /* --------------------------------- head menu item size ---------------------------------------- */
    .#{vars.$menu-item-prefix-cls} {
      margin: 0;

      &--#{$size} {
        @include button-style.button-size(
          $element: 'head-menu-item',
          $size: $size,
          $tokens: menu.$menu-tokens
        );
      }
    }

    /* --------------------------------- head sub menu size ---------------------------------------- */
    .#{vars.$sub-menu-prefix-cls} {
      &--#{$size} {
        .#{vars.$sub-menu-prefix-cls}-arrow {
          font-size: map.get(
            menu.$menu-tokens,
            sub-menu-arrow-font-size-#{$size}
          );
        }
      }
    }
  }

  .#{vars.$sub-menu-prefix-cls}-popup {
    .#{vars.$menu-item-prefix-cls} {
      margin: menu.$menu-item-space-outer 0;
    }
  }

  &-logo {
    display: inline-flex;
    align-items: center;
    margin-right: menu.$menu-logo-space;
    text-align: center;

    img {
      height: 100%;
    }
  }

  &-content {
    padding: 0;
    margin: 0;
    overflow: hidden;

    &,
    .#{vars.$overflow-wrap} {
      display: flex;
      flex: 1;
    }

    .#{vars.$overflow-wrap} {
      gap: menu.$menu-content-space-gap;
      padding: menu.$menu-content-overflow-wrap-space;
    }
  }

  &-operations {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    & > * + * {
      margin-left: menu.$menu-operations-space-gap;
    }
  }
}
