// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';
@import '@casts/theme/styles/scss/menu';
@import '@casts/theme/styles/scss/vars/menu';

@import '@casts/theme/styles/plugins/helper/button-style';

@import './vars';

$sizes: 'small', 'medium', 'large';

.#{$head-menu-prefix-cls} {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: $head-menu-space;
  background-color: $menu-color-surface;

  @each $size in $sizes {
    /* --------------------------------- head menu logo size ---------------------------------------- */
    &--#{$size} {
      height: map-get($menu-tokens, menu-size-#{$size});

      .#{$head-menu-prefix-cls}-logo {
        height: map-get($menu-tokens, head-menu-logo-size-#{$size});
        font-size: map-get($menu-tokens, menu-logo-font-size-#{$size});
        line-height: map-get($menu-tokens, head-menu-logo-size-#{$size});
      }
    }

    /* --------------------------------- head menu item size ---------------------------------------- */
    .#{$menu-item-prefix-cls} {
      margin: 0;

      &--#{$size} {
        @include button-size(
          $element: 'head-menu-item',
          $size: $size,
          $tokens: $menu-tokens
        );
      }
    }

    /* --------------------------------- head sub menu size ---------------------------------------- */
    .#{$sub-menu-prefix-cls} {
      &--#{$size} {
        .#{$sub-menu-prefix-cls}-arrow {
          font-size: map-get($menu-tokens, sub-menu-arrow-font-size-#{$size});
        }
      }
    }
  }

  .#{$sub-menu-prefix-cls}-popup {
    .#{$menu-item-prefix-cls} {
      margin: $menu-item-space-outer 0;
    }
  }

  &-logo {
    display: inline-flex;
    align-items: center;
    margin-right: $menu-logo-space;
    text-align: center;

    img {
      height: 100%;
    }
  }

  &-content {
    padding: 0;
    margin: 0;
    overflow: hidden;

    &,
    .#{$overflow-wrap} {
      display: flex;
      flex: 1;
    }

    .#{$overflow-wrap} {
      gap: $menu-content-space-gap;
      padding: $menu-content-overflow-wrap-space;
    }
  }

  &-operations {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;

    & > * + * {
      margin-left: $menu-operations-space-gap;
    }
  }
}
