@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/menu' as base-menu;
@use '@casts/theme/styles/scss/vars/menu';

@use '@casts/theme/styles/plugins/helper/overflow';
@use '@casts/theme/styles/plugins/helper/button-style';

@use 'vars';

.#{vars.$menu-item-prefix-cls} {
  flex-shrink: 0;
  margin: menu.$menu-item-space-outer 0;
  list-style: none;
  border-radius: core.$radius-medium;

  &--disabled {
    cursor: not-allowed;
  }

  &-inner {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    outline: none;

    @include button-style.button-style(#{vars.$menu-item-prefix-cls}-inner);
    @include button-style.button-color(
      #{vars.$menu-item-prefix-cls}-inner,
      $with-background: true,
      $color-surface-disabled: transparent
    );

    @include button-style.button-space();

    .#{vars.$menu-item-prefix-cls}-content {
      display: inline-block;
      flex: 1;

      @include overflow.text-ellipsis();

      .#{core.$prefix-cls}-icon {
        vertical-align: middle;
      }
    }

    .#{vars.$menu-item-prefix-cls}-prefix-icon {
      display: inline-flex;
      align-items: center;
    }
  }
}
