// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';
@import '@casts/theme/styles/scss/menu';
@import '@casts/theme/styles/scss/vars/menu';

@import '@casts/theme/styles/plugins/helper/overflow';

@import '@casts/theme/styles/plugins/helper/button-style';

@import './vars';

.#{$menu-group-prefix-cls} {
  &-label {
    position: relative;
    display: inline-block;
    width: 100%;
    color: $menu-group-label-color-text;
    @include button-size(
      $element: 'menu-item',
      $size: 'medium',
      $tokens: $menu-tokens
    );
    @include button-space();
    @include text-ellipsis();
  }
}
