@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/menu' as base-menu;
@use '@casts/theme/styles/scss/vars/menu';

@use '@casts/theme/styles/plugins/helper/overflow';

@use '@casts/theme/styles/plugins/helper/button-style';

@use 'vars';

.#{vars.$menu-group-prefix-cls} {
  &-label {
    position: relative;
    display: inline-block;
    width: 100%;
    color: menu.$menu-group-label-color-text;
    @include button-style.button-size(
      $element: 'menu-item',
      $size: 'medium',
      $tokens: menu.$menu-tokens
    );
    @include button-style.button-space();
    @include overflow.text-ellipsis();
  }
}
