@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/menu' as base-menu;
@use '@casts/theme/styles/scss/vars/menu' as menu;

@use 'vars';

.#{vars.$overflow-wrap} {
  overflow: hidden;

  .#{core.$prefix-cls}-is-hidden {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
  }

  .#{vars.$overflow-wrap-collapse} {
    display: inline-flex;
    align-items: center;
  }
}
