// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';
@import '@casts/theme/styles/scss/menu';
@import '@casts/theme/styles/scss/vars/menu';

@import './vars';

.#{$overflow-wrap} {
  overflow: hidden;

  .#{$prefix-cls}-is-hidden {
    position: absolute;
    pointer-events: none;
    visibility: hidden;
  }

  .#{$overflow-wrap-collapse} {
    display: inline-flex;
    align-items: center;
  }
}
