@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/menu' as base-menu;
@use '@casts/theme/styles/scss/vars/menu';

@use '@casts/theme/styles/plugins/helper/button-style';

@use 'vars';

.#{vars.$sub-menu-prefix-cls} {
  &-inner {
    margin: 0;
    @include button-style.button-style(#{vars.$sub-menu-prefix-cls}-inner);
    @include button-style.button-color(
      #{vars.$sub-menu-prefix-cls}-inner,
      $with-background: false
    );

    &--active {
      &:hover {
        $color-surface-hover: core.$color-surface-brand-default;
        background-color: $color-surface-hover;
      }

      .#{vars.$menu-item-prefix-cls}-inner {
        background-color: transparent !important;
      }
    }

    .#{vars.$menu-item-prefix-cls}-inner {
      color: inherit !important;
    }
  }

  & + & {
    margin-top: menu.$menu-item-space-vertical;
  }

  .#{core.$prefix-cls}-menu-sub {
    padding: 0;
    margin: 0;

    & > .#{vars.$menu-item-prefix-cls}:first-child,
    & > .#{vars.$menu-item-prefix-cls}:last-child {
      margin-bottom: 0;
    }
  }

  &-arrow {
    float: right;
    transition: transform core.$motion-duration-slow;
  }

  @at-root &-popup {
    .#{vars.$sub-menu-prefix-cls}-arrow {
      transform: rotate(-90deg) !important;
    }

    .#{core.$prefix-cls}-popup-content {
      > *:first-child {
        margin-top: 0px;
      }
      > *:last-child {
        margin-bottom: 0px;
      }
    }
  }
}
