@use '@casts/theme/styles/scss/vars/core';

$head-menu-prefix-cls: #{core.$prefix-cls}-head-menu;

$menu-prefix-cls: #{core.$prefix-cls}-menu;

$menu-group-prefix-cls: #{core.$prefix-cls}-menu-group;

$menu-item-prefix-cls: #{core.$prefix-cls}-menu-item;
$sub-menu-prefix-cls: #{core.$prefix-cls}-sub-menu;

$overflow-wrap: #{core.$prefix-cls}-overflow-wrap;
$overflow-wrap-collapse: #{core.$prefix-cls}-overflow-wrap-collapse;

$sizes: 'small', 'medium', 'large';
