@use '@casts/theme/styles/scss/vars/core';

@use '@casts/theme/styles/plugins/helper/scrollbar';

$playground-prefix-cls: rd-code-block;

.#{$playground-prefix-cls} {
  position: relative;
  z-index: core.$elevation-z-index-low;
  background-color: core.$color-surface-container-default;
  border: core.$border-width-xsmall solid core.$color-border-component-default;
  border-radius: core.$radius-medium;

  &-loading {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &-previewer {
    padding: core.$space-3-x core.$space-1025-x;
    overflow: auto;
    border-radius: 0;

    @include scrollbar.scrollbar(8px, 2px, false);
  }

  &-toolbar {
    display: flex;
    justify-content: space-between;

    height: core.$size-large;
    padding-right: core.$space-1-x;

    padding-left: core.$space-1-x;
    line-height: core.$size-large;

    border-top: core.$border-width-xsmall dashed
      core.$color-border-component-default;

    &-left,
    &-right {
      display: inline-flex;
      align-items: center;
    }
  }

  &-source {
    border-top: core.$border-width-xsmall dashed
      core.$color-border-component-default;

    .#{core.$prefix-cls}-code {
      &,
      pre {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    .#{core.$prefix-cls}-tabs {
      &-bar {
        padding-right: core.$space-05-x;
        padding-left: core.$space-05-x;

        &::after {
          display: none;
        }
      }

      &-content {
        padding: 0;
        border-top: core.$border-width-xsmall dashed
          core.$color-border-component-default;
      }
    }
  }
}
