@use 'sass:map';
@use '@casts/theme/styles/scss/vars/core';

@use '@casts/theme/styles/scss/select' as base-select;
@use '@casts/theme/styles/scss/vars/select';

@use '@casts/theme/styles/plugins/helper/button-style';

@use '@casts/theme/styles/plugins/helper/overflow';

@use '@casts/theme/styles/plugins/helper/scrollbar';

$select-prefix-cls: #{core.$prefix-cls}-select;

.#{$select-prefix-cls} {
  display: inline-flex;

  &-arrow {
    color: select.$select-arrow-color-default;
  }

  &-popup {
    .#{core.$prefix-cls}-popup-content {
      padding: 0px;
    }
  }

  @mixin list-style() {
    display: flex;
    flex-direction: column;
    gap: select.$select-option-space-outer;
  }

  &-list {
    @include list-style();
    max-height: 300px;

    padding: select.$select-list-space;
    margin: 0;
    overflow-y: auto;
    overflow-y: overlay;
    list-style: none;
    @include scrollbar.scrollbar(8px, 2px);

    &-virtual-scroll-container {
      position: relative;
      flex-shrink: 0;
      width: 100%;
    }

    &-virtual-scroll-list {
      @include list-style();
      position: absolute;

      top: 0px;
      left: 0px;
      width: 100%;
      padding-bottom: select.$select-list-space;
    }
  }

  &-option {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    cursor: pointer;

    @include overflow.text-ellipsis();

    @include button-style.button-style($selector: #{$select-prefix-cls}-option);
    @include button-style.button-color($selector: #{$select-prefix-cls}-option);

    @include button-style.button-space(
      $space-inset: map.get(
          select.$select-tokens,
          select-option-space-inset-medium
        )
    );

    .#{core.$prefix-cls}-checkbox-input {
      margin-right: 0px;
    }

    &:hover {
      .#{core.$prefix-cls}-checkbox-input {
        border-color: core.$color-border-brand-hover;
      }
    }

    &-label {
      @include overflow.text-ellipsis();
    }
  }

  $select-sizes: 'small', 'medium', 'large';

  @each $size in $select-sizes {
    &-popup--#{$size} {
      .#{$select-prefix-cls}-option {
        @include button-style.button-size(
          $element: select-option,
          $size: $size,
          $tokens: select.$select-tokens
        );
      }
    }
  }
}
