@use 'sass:list';
@use 'sass:map';
@use '@casts/theme/styles/scss/vars/core';

@use '@casts/theme/styles/scss/pagination' as base-pagination;
@use '@casts/theme/styles/scss/vars/pagination';

@use '@casts/theme/styles/plugins/helper/button-style';

$pagination-prefix-cls: #{core.$prefix-cls}-pagination;

.#{$pagination-prefix-cls} {
  display: flex;
  gap: core.$space-025-x;
  align-self: center;

  &-pager {
    display: flex;

    gap: core.$space-025-x;
    padding: 0;
    margin: 0;
  }

  $pagination-sizes: 'small', 'medium', 'large';
  &-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: pagination.$pagination-font-family;
    text-align: center;
    user-select: none;

    @include button-style.button-style(#{$pagination-prefix-cls}-btn);
    @include button-style.button-space(#{$pagination-prefix-cls}-btn);

    @include button-style.button-color(
      #{$pagination-prefix-cls}-btn,
      $color-outline-default: map.get(
          pagination.$pagination-tokens,
          pagination-color-outline-default
        ),
      $color-surface-default: map.get(
          pagination.$pagination-tokens,
          pagination-color-surface-default
        ),
      $color-surface-hover: map.get(
          pagination.$pagination-tokens,
          pagination-color-surface-hover
        ),
      $color-surface-active: map.get(
          pagination.$pagination-tokens,
          pagination-color-surface-active
        ),
      $color-surface-disabled: map.get(
          pagination.$pagination-tokens,
          pagination-color-surface-disabled
        ),
      $color-text-default: map.get(
          pagination.$pagination-tokens,
          pagination-color-text-default
        ),
      $color-text-hover: map.get(
          pagination.$pagination-tokens,
          pagination-color-text-hover
        ),
      $color-text-active: map.get(
          pagination.$pagination-tokens,
          pagination-color-text-active
        ),
      $color-text-disabled: map.get(
          pagination.$pagination-tokens,
          pagination-color-text-disabled
        )
    );
  }

  @each $size in $pagination-sizes {
    &--#{$size} {
      .#{$pagination-prefix-cls}-btn {
        @include button-style.button-space(
          // $space-inset: map-get($pagination-tokens, pagination-space-#{$size})
          $space-inset: map.get(
              pagination.$pagination-tokens,
              pagination-space-small
            )
        );

        @include button-style.button-size(
          $element: 'pagination',
          $size: $size,
          $tokens: pagination.$pagination-tokens
        );

        min-width: map.get(
          pagination.$pagination-tokens,
          pagination-size-#{$size}
        );
      }
    }

    .#{$pagination-prefix-cls}-pager {
      .#{core.$prefix-cls}-icon {
        transform: scale(1.25);
      }
    }
  }

  &-dots {
    &-ellipsis {
      opacity: 1;
    }

    &-arrow {
      position: absolute;
      margin-left: 0 !important;
      opacity: 0;
    }

    &:hover {
      .#{$pagination-prefix-cls}-dots-ellipsis {
        opacity: 0;
      }

      .#{$pagination-prefix-cls}-dots-arrow {
        opacity: 1;
      }
    }
  }

  &-jumper {
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    border-radius: pagination.$pagination-jumper-radius;

    .#{core.$prefix-cls}-input {
      width: 40px;
      height: 24px;
      text-align: center;

      &-inner {
        text-align: center;
      }

      &-wrap {
        min-width: 40px;
      }
    }

    & > *:not(:last-child) {
      margin-right: core.$space-05-x;
    }
  }

  @each $size in $pagination-sizes {
    &--#{$size} {
      .#{$pagination-prefix-cls}-jumper {
        padding-right: map.get(
          pagination.$pagination-tokens,
          pagination-jumper-space-#{$size}
        );
        padding-left: map.get(
          pagination.$pagination-tokens,
          pagination-jumper-space-#{$size}
        );
      }
    }
  }

  &-page-size-select {
    width: 120px;
    margin-right: core.$space-1-x;
  }
}
