@use 'sass:list';
@import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';

@import '@casts/theme/styles/scss/pagination';
@import '@casts/theme/styles/scss/vars/pagination';

@import '@casts/theme/styles/plugins/helper/button-style';

$pagination-prefix-cls: #{$prefix-cls}-pagination;

.#{$pagination-prefix-cls} {
  display: flex;
  gap: $space-025-x;
  align-self: center;

  &-pager {
    display: flex;

    gap: $space-025-x;
    padding: 0;
    margin: 0;
  }

  $pagination-sizes: 'small', 'medium', 'large';
  &-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: $pagination-font-family;
    text-align: center;

    @include button-style(#{$pagination-prefix-cls}-btn);
    @include button-space(#{$pagination-prefix-cls}-btn);

    @include button-color(
      #{$pagination-prefix-cls}-btn,
      $color-outline-default:
        map-get($pagination-tokens, pagination-color-outline-default),
      $color-surface-default:
        map-get($pagination-tokens, pagination-color-surface-default),
      $color-surface-hover:
        map-get($pagination-tokens, pagination-color-surface-hover),
      $color-surface-active:
        map-get($pagination-tokens, pagination-color-surface-active),
      $color-surface-disabled:
        map-get($pagination-tokens, pagination-color-surface-disabled),
      $color-text-default:
        map-get($pagination-tokens, pagination-color-text-default),
      $color-text-hover:
        map-get($pagination-tokens, pagination-color-text-hover),
      $color-text-active:
        map-get($pagination-tokens, pagination-color-text-active),
      $color-text-disabled:
        map-get($pagination-tokens, pagination-color-text-disabled)
    );
  }

  @each $size in $pagination-sizes {
    &--#{$size} {
      .#{$pagination-prefix-cls}-btn {
        @include button-space(
          // $space-inset: map-get($pagination-tokens, pagination-space-#{$size})
          $space-inset: map-get($pagination-tokens, pagination-space-small)
        );

        @include button-size(
          $element: 'pagination',
          $size: $size,
          $tokens: $pagination-tokens
        );

        min-width: map-get($pagination-tokens, pagination-size-#{$size});
      }
    }
  }
}
