// @import '@casts/theme/styles/scss/core';
@import '@casts/theme/styles/scss/vars/core';

@import '@casts/theme/styles/scss/dropdown';
@import '@casts/theme/styles/scss/vars/dropdown';

@import '@casts/theme/styles/plugins/helper/button-style';

@import '@casts/theme/styles/plugins/helper/overflow';

@import '@casts/theme/styles/plugins/helper/scrollbar';

$dropdown-prefix-cls: #{$prefix-cls}-dropdown;

.#{$dropdown-prefix-cls} {
  &-popup {
    .#{$prefix-cls}-popup-content {
      padding: 0px;
    }
  }

  &-menu {
    display: flex;
    flex-direction: column;
    gap: $dropdown-item-space-outer;
    padding: $dropdown-menu-space;
    margin: 0px;
    @include scrollbar(8px, 2px);
  }

  &-item {
    @include text-ellipsis();

    @include button-style($selector: #{$dropdown-prefix-cls}-item);
    @include button-color($selector: #{$dropdown-prefix-cls}-item);

    @include button-space(
      $space-inset: map-get($dropdown-tokens, dropdown-item-space-inset-medium)
    );

    // display: inline-flex;
    // align-items: center;
    // gap: $space-05-x;

    &-content {
    }

    &-arrow {
      transform: rotate(-90deg);
    }
  }

  $dropdown-sizes: 'small', 'medium', 'large';

  @each $size in $dropdown-sizes {
    &-popup--#{$size} {
      .#{$dropdown-prefix-cls}-item {
        @include button-size(
          $element: dropdown-item,
          $size: $size,
          $tokens: $dropdown-tokens
        );
      }
    }
  }
}
