@use 'sass:map';
@use '@casts/theme/styles/scss/typography' as base-typography;
@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/vars/typography';

$typography-prefix-cls: #{typography.$prefix-cls}-typography;

.#{$typography-prefix-cls} {
  margin-top: 0;
  margin-bottom: 0;
  font-family: core.$font-family-default;
  font-size: typography.$typography-body-font-size;
  line-height: typography.$typography-body-line-height;
  overflow-wrap: break-word;

  @at-root {
    span#{&} {
      display: inline-block;
    }
  }

  &--hero {
    font-size: typography.$typography-hero-font-size;
    line-height: typography.$typography-hero-line-height;
  }

  &--subtitle {
    font-size: typography.$typography-subtitle-font-size;
    line-height: typography.$typography-subtitle-line-height;
  }

  &--caption {
    font-size: typography.$typography-caption-font-size;
    line-height: typography.$typography-caption-line-height;
  }

  &,
  mark {
    color: typography.$typography-color-text;
  }

  code,
  kbd {
    padding: core.$space-0125-x core.$space-025-x;
    margin: 0px core.$space-0125-x;
    font-family: core.$font-family-code;
    font-size: 85%;
    background-color: typography.$typography-block-color-background;
    border: core.$border-width-xsmall solid typography.$typography-color-border;
    border-radius: core.$radius-small;
  }

  kbd {
    border-bottom-width: core.$border-width-small;
  }

  mark {
    padding: 0 core.$space-025-x;
    background-color: typography.$typography-mark-color-background;
  }

  u {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }

  del {
    text-decoration: line-through;
  }

  strong {
    font-weight: core.$font-weight-bold;
  }

  i {
    font-style: italic;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: circle;

    li {
      padding: 0 0 0 core.$space-025-x;
      margin: 0 0 0 core.$space-1025-x;
    }
  }

  blockquote {
    padding: core.$space-05-x;
    margin: core.$space-075-x 0;
    color: core.$color-text-secondary;
    border-left: core.$border-width-medium solid
      typography.$typography-color-border;
  }

  pre {
    padding: core.$space-05-x;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: typography.$typography-block-color-background;
    border: core.$border-width-xsmall solid typography.$typography-color-border;
    border-radius: core.$radius-medium;
  }

  a {
    color: core.$color-text-brand-default;
    text-decoration: none;

    &:hover,
    &:focus-visible {
      color: core.$color-text-brand-hover;
    }

    &:active {
      color: core.$color-text-brand-active;
    }
  }

  $levels: 1, 2, 3, 4, 5, 6;

  // Heading
  @at-root {
    @each $level in $levels {
      h#{$level}#{&} {
        margin-top: 0;
        margin-bottom: 0;
        font-size: map.get(
          typography.$typography-tokens,
          typography-heading-#{$level}-font-size
        );
        font-weight: core.$font-weight-bold;
        line-height: map.get(
          typography.$typography-tokens,
          typography-heading-#{$level}-line-height
        );
      }
    }
  }

  &:not(span) + &:not(span) {
    margin-top: core.$space-1-x;
  }
}
