@import '@casts/theme/scss/colors';
@import '@casts/theme/scss/default';

$levels: 1, 2, 3, 4, 5, 6;

.#{$prefix-cls}-typography {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--#{$prefix-cls}-body-font-size);
  line-height: 1.5;
  overflow-wrap: break-word;
  &--display {
    font-size: var(--#{$prefix-cls}-display-text-font-size);
    line-height: var(--#{$prefix-cls}-display-text-line-height);
  }
  &--subtitle {
    font-size: var(--#{$prefix-cls}-subtitle-font-size);
    line-height: var(--#{$prefix-cls}-subtitle-line-height);
  }
  &--caption {
    font-size: var(--#{$prefix-cls}-caption-font-size);
    line-height: var(--#{$prefix-cls}-caption-line-height);
  }

  &,
  mark {
    color: $text-color-primary;
  }

  code,
  kbd {
    padding: 2px 4px;
    margin: 0px 2px;
    font-size: 85%;
    background-color: rgba($color: #000000, $alpha: 0.05);
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 4px;
  }
  kbd {
    border-bottom-width: 2px;
  }
  mark {
    background-color: var(--color-slate-blue-50);
  }
  u {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }
  del {
    text-decoration: line-through;
  }
  strong {
    font-weight: 600;
  }
  i {
    font-style: italic;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: circle;
    li {
      padding: 0 0 0 4px;
      margin: 0 0 0 20px;
    }
  }

  blockquote {
    padding: 8px;
    margin: 12px 0;
    color: $text-color-placeholder;
    border-left: 4px solid $border-color-1;
  }

  pre {
    padding: 0.4em 0.6em;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: $bg-color-container-hover;
    border: 1px solid $border-color-1;
    border-radius: $border-radius-base;
  }

  a {
    color: $color-brand;
    text-decoration: none;
    &:hover,
    &:focus-visible {
      color: $color-brand-hover;
    }
    &:active {
      color: $color-brand-active;
    }
  }

  // Heading
  @at-root {
    @each $level in $levels {
      h#{$level}#{&} {
        margin-top: 0;
        margin-bottom: 0;
        font-size: var(--#{$prefix-cls}-heading-#{$level}-font-size);
        font-weight: 600;
        line-height: var(--#{$prefix-cls}-heading-#{$level}-line-height);
      }
    }
  }
  & + & {
    margin-top: 18px;
  }
}
