@import '@casts/theme/scss/_variables.scss';

$levels: 1, 2, 3, 4, 5, 6;

:root {
  --#{$prefix-cls}-display-text-font-size: #{$display-text-font-size};

  --#{$prefix-cls}-heading-1-font-size: #{$heading-1-font-size};
  --#{$prefix-cls}-heading-2-font-size: #{$heading-2-font-size};
  --#{$prefix-cls}-heading-3-font-size: #{$heading-3-font-size};
  --#{$prefix-cls}-heading-4-font-size: #{$heading-4-font-size};
  --#{$prefix-cls}-heading-5-font-size: #{$heading-5-font-size};
  --#{$prefix-cls}-heading-6-font-size: #{$heading-6-font-size};

  --#{$prefix-cls}-body-font-size: #{$body-font-size};
  --#{$prefix-cls}-subtitle-font-size: #{$subtitle-font-size};
  --#{$prefix-cls}-caption-font-size: #{$caption-font-size};

  --#{$prefix-cls}-display-text-line-height: #{$display-text-font-size + 8px};
  --#{$prefix-cls}-heading-1-line-height: #{$heading-1-line-height};
  --#{$prefix-cls}-heading-2-line-height: #{$heading-2-line-height};
  --#{$prefix-cls}-heading-3-line-height: #{$heading-3-line-height};
  --#{$prefix-cls}-heading-4-line-height: #{$heading-4-line-height};
  --#{$prefix-cls}-heading-5-line-height: #{$heading-5-line-height};
  --#{$prefix-cls}-heading-6-line-height: #{$heading-6-line-height};
  --#{$prefix-cls}-subtitle-line-height: #{$subtitle-line-height};
  --#{$prefix-cls}-caption-line-height: #{$caption-line-height};
}

.#{$prefix-cls}-typography {
  margin-top: 0;
  margin-bottom: 0;
  font-size: var(--#{$prefix-cls}-body-font-size);
  line-height: 1.5;
  overflow-wrap: break-word;
  &--display {
    font-size: var(--#{$prefix-cls}-display-text-font-size);
    line-height: var(--#{$prefix-cls}-display-text-line-height);
  }
  &--subtitle {
    font-size: var(--#{$prefix-cls}-subtitle-font-size);
    line-height: var(--#{$prefix-cls}-subtitle-line-height);
  }
  &--caption {
    font-size: var(--#{$prefix-cls}-caption-font-size);
    line-height: var(--#{$prefix-cls}-caption-line-height);
  }

  &,
  mark {
    color: var(--color-black);
  }

  code,
  kbd {
    padding: 2px 4px;
    margin: 0px 2px;
    font-size: 85%;
    background-color: rgba($color: #000000, $alpha: 0.05);
    border: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-radius: 4px;
  }
  kbd {
    border-bottom-width: 2px;
  }
  mark {
    background-color: var(--color-slate-blue-50);
  }
  u {
    text-decoration: underline;
    text-decoration-skip-ink: auto;
  }
  del {
    text-decoration: line-through;
  }
  strong {
    font-weight: 600;
  }
  i {
    font-style: italic;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: circle;
    li {
      padding: 0 0 0 4px;
      margin: 0 0 0 20px;
    }
  }

  blockquote {
    padding-left: 8px;
    margin: 12px 0;
    color: var(--color-block-lighter);
    border-left: 4px solid var(--color-white-darker);
  }

  pre {
    padding: 0.4em 0.6em;
    word-wrap: break-word;
    white-space: pre-wrap;
    background: var(--color-onxy-100);
    border: 1px solid var(--color-white-darker);
    border-radius: 3px;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;
    &:hover,
    &:focus-visible {
      color: var(--color-primary-lighter);
    }
    &:active {
      color: var(--color-primary-darker);
    }
  }

  // Heading
  @at-root {
    @each $level in $levels {
      h#{$level}#{&} {
        margin-top: 0;
        margin-bottom: 0;
        font-size: var(--#{$prefix-cls}-heading-#{$level}-font-size);
        font-weight: 600;
        line-height: var(--#{$prefix-cls}-heading-#{$level}-line-height);
      }
    }
  }
  & + & {
    margin-top: 18px;
  }
}
