@import '@casts/theme/scss/colors.scss';
@import './token.scss';

@mixin input-size($size: 'base', $selector: none) {
  height: var(--#{$input-prefix-cls}-height-#{$size});
  font-size: var(--#{$input-prefix-cls}-font-size-#{$size});
  line-height: var(--#{$input-prefix-cls}-line-height-#{$size});
}

$statuses: 'success', 'warning', 'error';

@mixin input-color($status, $disabled: false) {
  & {
    $color-suffix: if($disabled == true, '-disabled', '');
    $shadow-suffix: if($disabled == true, 'hover', 'active');
    color: map-get($colors, #{$status}#{$color-suffix});
    background-color: map-get($colors, #{$status}-shadow-#{$shadow-suffix});
    border-color: map-get($colors, #{$status}#{$color-suffix});
    box-shadow: 0 0 0 2px map-get($colors, #{$status}-shadow-#{$shadow-suffix});

    &:hover:not(&-wrap--disabled &) {
      background-color: map-get($colors, #{$status}-shadow-hover);
    }

    &--focused:not(&-wrap--disabled &),
    &:focus:not(&-wrap--disabled &) {
      background-color: transparent !important;
      border-color: map-get($colors, #{$status});
      box-shadow: 0 0 0 2px map-get($colors, #{$status}-shadow-active);
    }
  }
}

.#{$input-prefix-cls} {
  box-sizing: border-box;
  display: flex;
  padding-right: var(--#{$input-prefix-cls}-padding-horizontal-base);
  padding-left: var(--#{$input-prefix-cls}-padding-horizontal-base);
  cursor: text;
  background-color: $color-gray-1;
  border-color: transparent;
  border-style: solid;
  border-width: var(--#{$input-prefix-cls}-border-width-base);
  border-radius: var(--#{$input-prefix-cls}-border-radius-base);
  transition: all 250ms #{$ease-in-out};

  &:hover:not(&-wrap--disabled &) {
    background-color: $color-gray-2;
  }

  &--focused:not(&-wrap--disabled &),
  &:focus:not(&-wrap--disabled &) {
    background-color: transparent !important;
    border-color: $color-brand;
    box-shadow: 0 0 0 2px $color-brand-shadow-active;
  }

  // size
  & {
    @include input-size('base', #{&});
  }
  &--small {
    @include input-size('small', #{&});
  }
  &--large {
    @include input-size('large', #{&});
  }

  // shape
  &--circle {
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 999px;
  }

  &--square {
    border-radius: 0px;
  }

  &-wrap {
    display: inline-block;
    width: 100%;
    @at-root #{&}#{&}--auto-width {
      width: fit-content;
      min-width: 60px;
    }
    @each $status in $statuses {
      &--#{$status} {
        .#{$input-prefix-cls}-tips {
          color: map-get($colors, $status);
        }
        .#{$input-prefix-cls} {
          @include input-color($status, false);
        }
      }
    }
    &--disabled {
      .#{$input-prefix-cls}-tips {
        color: $text-color-disabled;
      }
      .#{$input-prefix-cls} {
        cursor: not-allowed;
        background-color: $bg-color-disabled;
      }
      @each $status in $statuses {
        &.#{$input-prefix-cls}-wrap--#{$status} {
          .#{$input-prefix-cls}-tips {
            color: map-get($colors, #{$status}-disabled);
          }
          .#{$input-prefix-cls} {
            cursor: not-allowed;
            @include input-color($status, true);
          }
        }
      }

      .#{$input-prefix-cls}-inner {
        &::placeholder {
          color: $text-color-disabled;
        }
      }
    }
  }

  &-max-length,
  &-prefix,
  &-suffix {
    display: flex;
    align-items: center;
    align-items: center;
    font-size: inherit;

    svg {
      font-size: inherit;
      fill: currentColor;
    }
  }

  & > *:not(:last-child) {
    margin-right: 8px;
  }

  &-inner {
    flex: 1;
    min-width: 0;

    max-width: 100%;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    color: $text-color-primary;

    cursor: inherit;
    background-color: transparent;

    border: 0;
    outline: 0;

    &::placeholder {
      color: $text-color-placeholder;
    }
  }

  &-pre {
    position: absolute;
    white-space: nowrap;
    visibility: hidden;
  }

  &-tips {
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 2px;
    font-size: #{$font-size-small};
    color: $text-color-secondary;
  }
}
