@use '@casts/theme/styles/scss/vars/core';

.icons-demo-container {
  width: 100%;
}

.docs-icon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(128px, 1fr));
  width: 100%;
}

.docs-icon-item {
  flex: 1;
  width: 100%;
  min-height: 0;
  padding: core.$space-1-x core.$space-05-x;
  border: 1px solid transparent;
  border-radius: core.$radius-medium;
  transition:
    color core.$motion-duration-rapid core.$motion-easing-in-out,
    background-color core.$motion-duration-rapid core.$motion-easing-in-out;

  &-group {
    justify-content: center;
    border-radius: core.$radius-medium;
    transition: background-color core.$motion-duration-rapid
      core.$motion-easing-in-out;

    &:hover {
      background-color: core.$color-palette-neutral-100;
    }
  }

  &:hover {
    color: core.$color-text-brand-active;
    background-color: core.$color-surface-brand-default;
  }

  .docs-icon {
    flex-shrink: 0;
    margin-top: core.$space-05-x;
    font-size: core.$font-size-xlarge;
  }

  .docs-icon-code {
    font-size: core.$font-size-xsmall;
    font-weight: core.$font-weight-bold;
    text-align: center;
    word-break: break-all;
    transform: scale(0.85);
  }
}
