@import '@casts/theme/styles/css/core';
@import '@casts/theme/styles/scss/core';

$checkbox-group-prefix-cls: #{$prefix-cls}-checkbox-group;

.#{$checkbox-group-prefix-cls} {
  display: flex;
  flex-wrap: wrap;
  gap: $space-three-quarter-x;
  &--vertical {
    flex-direction: column;
  }
}
