@use '@casts/theme/styles/scss/vars/core';

$checkbox-group-prefix-cls: #{core.$prefix-cls}-checkbox-group;

.#{$checkbox-group-prefix-cls} {
  display: flex;
  flex-wrap: wrap;
  gap: core.$space-075-x;

  &--vertical {
    flex-direction: column;
  }
}
