@import '@casts/theme/scss/colors';
@import '@casts/theme/scss/default';
@import '@casts/theme/scss/animation';

:root {
  --#{$prefix-cls}-popup-color--dark: #{$color-white};
  --#{$prefix-cls}-popup-color--light: #{$color-black};
  --#{$prefix-cls}-popup-background-color--dark: #{$color-black};
  --#{$prefix-cls}-popup-background-color--light: #{$color-white};
  --#{$prefix-cls}-popup-padding: #{$padding-large};
  --#{$prefix-cls}-popup-border-radius: #{$border-radius-base};
  --#{$prefix-cls}-popup-font-size: #{$font-size-base};
  --#{$prefix-cls}-popup-box-shadow: #{$shadow4-center};
}

$popup-themes: 'light', 'dark';

.#{$prefix-cls}-popup {
  position: relative;
  z-index: 999;
  font-size: var(--#{$prefix-cls}-popup-font-size);
  border-radius: var(--#{$prefix-cls}-popup-border-radius);

  @each $theme in $popup-themes {
    &.#{$prefix-cls}-popup--#{$theme} {
      color: var(--#{$prefix-cls}-popup-color--#{$theme});
      background-color: var(--#{$prefix-cls}-popup-background-color--#{$theme});
    }
  }

  &--shadow {
    box-shadow: var(--#{$prefix-cls}-popup-box-shadow);
  }

  &-content {
    z-index: 2;
    padding: var(--#{$prefix-cls}-popup-padding);
    background-color: inherit;
    border-radius: inherit;
  }

  &-arrow {
    position: absolute;
    z-index: -1;
    background-color: inherit;
    transform: rotate(45deg);
  }
}
