@use 'sass:map';
@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/popup' as base-popup;
@use '@casts/theme/styles/scss/vars/popup';

@use '@casts/theme/styles/plugins/motion/fade';

$popup-themes: 'default', 'anti';

.#{core.$prefix-cls}-popup {
  position: relative;
  z-index: popup.$popup-elevation-z-index;
  font-size: popup.$popup-font-size;
  border-radius: popup.$popup-radius;
  outline: none;

  @each $theme in $popup-themes {
    &.#{core.$prefix-cls}-popup--#{$theme} {
      color: map.get(popup.$popup-tokens, popup-color-text-#{$theme});
      background-color: map.get(
        popup.$popup-tokens,
        popup-color-surface-#{$theme}
      );
    }
  }

  &--shadow {
    box-shadow: popup.$popup-shadow;
  }

  &-content {
    z-index: 2;
    padding: popup.$popup-space;
    background-color: inherit;
    border-radius: inherit;
  }

  &-arrow {
    position: absolute;
    z-index: -1;
    background-color: inherit;

    box-shadow: popup.$popup-shadow;
    transform: rotate(45deg);
  }
}
