@use '@casts/theme/styles/scss/vars/core';

$layout-prefix-cls: #{core.$prefix-cls}-layout;

.#{$layout-prefix-cls} {
  display: flex;
  flex-direction: column;
  width: 100%;

  &.#{$layout-prefix-cls}--with-aside {
    flex-direction: row;
  }
}
