@import '@casts/theme/scss/colors';

$linear-prefix-cls: #{$prefix-cls}-linear-progress;

:root {
  --#{$linear-prefix-cls}-indeterminate-bar-width: 50%;
  --#{$linear-prefix-cls}-indeterminate-animation-duration: 2.1s;

  --#{$linear-prefix-cls}-height-small: 6px;
  --#{$linear-prefix-cls}-height-default: 8px;
  --#{$linear-prefix-cls}-height-large: 10px;
}

@keyframes linearKeyframe {
  0% {
    left: calc(0% - var(--#{$linear-prefix-cls}-indeterminate-bar-width));
  }
  100% {
    left: 100%;
  }
}

@mixin flex-and-align-center($display: flex) {
  display: $display;
  align-items: center;
}

.#{$linear-prefix-cls} {
  position: relative;
  width: 100%;
  height: var(--#{$linear-prefix-cls}-height-default);
  @include flex-and-align-center;
  color: $color-brand;

  @mixin linear-progress-height {
    $heights: 'small', 'default', 'large';
    @each $height in $heights {
      @if $height == 'default' {
        height: var(--#{$linear-prefix-cls}-height-#{$height});
      } @else {
        &--#{$height} {
          height: var(--#{$linear-prefix-cls}-height-#{$height});
        }
      }
    }
  }

  @include linear-progress-height();

  &--indeterminate {
    .#{$linear-prefix-cls}-bar {
      .#{$linear-prefix-cls}-inner {
        position: absolute;
        width: var(--#{$linear-prefix-cls}-indeterminate-bar-width) !important;
        animation: linearKeyframe
          var(--#{$linear-prefix-cls}-indeterminate-animation-duration)
          var(--#{$prefix-cls}-ease-in-out) infinite;
      }
    }
  }

  &-bar {
    position: relative;
    display: block;
    flex: 1;
    height: 100%;
    overflow: hidden;
    background-color: $bg-color-disabled;
    border-radius: 8px;

    .#{$linear-prefix-cls}-inner {
      display: block;
      height: 100%;
      background-color: currentColor;
      border-radius: 8px;
      transition: width 150ms var(--#{$prefix-cls}-ease-in-out);
    }
  }
  &-label {
    @include flex-and-align-center(inline-flex);
    min-width: 40px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 22px;

    .#{$linear-prefix-cls}-icon,
    .#{$linear-prefix-cls}-text {
      @include flex-and-align-center(inline-flex);
    }

    .#{$linear-prefix-cls}-text {
      color: $text-color-primary;
    }
  }
}

@mixin linear-progress-status {
  $statuses: 'success', 'warning', 'error';
  @each $status in $statuses {
    .#{$linear-prefix-cls}--#{$status} {
      color: map-get($colors, #{$status});
    }
  }
}

@include linear-progress-status();
