@import '@casts/theme/scss/_variables.scss';

:root {
  --#{$prefix-cls}-message-padding: 10px 16px;
  --#{$prefix-cls}-message-border-radius: #{$border-radius-base};
  --#{$prefix-cls}-message-box-shadow: #{$shadow-2};
  --#{$prefix-cls}-message-font-size: #{$font-size-base};
  --#{$prefix-cls}-message-line-height: #{$font-size-base + 8px};
}

.#{$prefix-cls}-message {
  display: flex;
  align-items: flex-start;
  padding: var(--#{$prefix-cls}-message-padding);
  font-size: var(--#{$prefix-cls}-message-font-size);
  border-radius: var(--#{$prefix-cls}-message-border-radius);
  box-shadow: var(--#{$prefix-cls}-message-box-shadow);
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  width: fit-content;

  svg {
    font-size: inherit;
  }

  &-icon {
    flex-shrink: 0;
    margin-right: 8px;
    font-size: 0;

    .#{$prefix-cls}-circular-progress-container,
    svg {
      height: var(--#{$prefix-cls}-message-line-height);
      width: var(--#{$prefix-cls}-message-line-height);
      font-size: var(--#{$prefix-cls}-message-line-height);
    }

    @at-root .#{$prefix-cls}-message--info:not(.#{$prefix-cls}-message--fill)
        & {
      color: var(--color-info);
    }
    @at-root .#{$prefix-cls}-message--success:not(.#{$prefix-cls}-message--fill)
        & {
      color: var(--color-success);
    }
    @at-root .#{$prefix-cls}-message--warning:not(.#{$prefix-cls}-message--fill)
        & {
      color: var(--color-warning);
    }
    @at-root .#{$prefix-cls}-message--error:not(.#{$prefix-cls}-message--fill)
        & {
      color: var(--color-error);
    }
  }
  &-content {
    flex: 1;
    font-size: var(--#{$prefix-cls}-message-font-size);
    line-height: var(--#{$prefix-cls}-message-line-height);
    overflow: hidden;
  }
  &-close {
    font-size: var(--#{$prefix-cls}-message-font-size);
    line-height: var(--#{$prefix-cls}-message-line-height);
    flex-shrink: 0;
    display: inline-flex;
    align-items: top;
    margin-left: 8px;
    padding: 0;
    border: 0;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
    opacity: 0.56;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.96;
    }

    svg {
      font-size: var(--#{$prefix-cls}-message-line-height);
    }
  }
  &--fill {
    &:not(.#{$prefix-cls}-message--loading) {
      color: var(--color-white);
    }
    &.#{$prefix-cls}-message--info {
      background-color: var(--color-info);
    }
    &.#{$prefix-cls}-message--success {
      background-color: var(--color-success);
    }
    &.#{$prefix-cls}-message--warning {
      background-color: var(--color-warning);
    }
    &.#{$prefix-cls}-message--error {
      background-color: var(--color-error);
    }
  }
}
