@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/scss/empty' as base-empty;
@use '@casts/theme/styles/scss/vars/empty';

$empty-prefix-cls: #{empty.$prefix-cls}-empty;

.#{$empty-prefix-cls} {
  text-align: center;

  &-image {
    display: flex;
    justify-content: center;
    .#{empty.$prefix-cls}-icon {
      $size: 48px;
      font-size: $size;
    }
  }

  &-description {
    margin-top: empty.$empty-description-space-outer;
    color: core.$color-text-tertiary;
  }
}
