@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/plugins/global';
@use '@casts/theme/styles/plugins/motion/fade';
@use '@casts/theme/styles/plugins/motion/slide';
@use '@casts/theme/styles/plugins/helper/scrollbar';
@use 'vars';

::view-transition-old(root),
::view-transition-new(root) {
  mix-blend-mode: normal;
  animation: none;
}

html {
  height: 100%;
}

:root {
  scroll-padding-top: 160px;
}

:root[theme-mode='default'] {
  body {
    background-color: global.$color-surface-container-default;
  }
}

.demo-full {
  width: 100%;
}

.#{vars.$rd-prefix-cls}-root-layout {
  min-height: 100vh;
  min-height: 100dvh;
}

.#{vars.$rd-prefix-cls}-sub-layout {
  flex: 1;
}

.#{vars.$rd-prefix-cls}-header {
  position: sticky;
  top: 0;
  z-index: global.$elevation-z-index-sticky;
  background-color: inherit;
  box-shadow: 0px 0px 12px -2px hsla(0, 0%, 0%, 0.08);
  will-change: change;

  .#{vars.$rd-prefix-cls}-logo {
    display: inline-flex;

    &-brand {
      width: 96px;
      fill: global.$color-text-primary;
    }

    @media screen and (max-width: global.$breakpoint-small) {
      margin-right: -16px;

      &-brand {
        width: 72px;
      }
    }
  }

  .#{vars.$rd-prefix-cls}-aside-collapse-button {
    margin-right: global.$space-075-x;
    font-size: global.$font-size-large;
  }
}

.#{vars.$rd-prefix-cls}-navbar {
  position: relative;
  z-index: global.$elevation-z-index-sticky;
  border-bottom: global.$border-width-xsmall solid
    global.$color-border-component-default;
}

.#{vars.$rd-prefix-cls}-aside {
  $aside-width: 240px;
  position: relative;
  z-index: global.$elevation-z-index-low;
  flex-shrink: 0;

  & &-collapse-button {
    position: fixed;
    top: 30vh;
    left: $aside-width;
    z-index: global.$elevation-z-index-sticky;
    border-left-color: transparent;
    border-top-right-radius: global.$radius-medium;
    border-bottom-right-radius: global.$radius-medium;
    box-shadow: global.$shadow-level-2;
    transition: left global.$motion-duration-rapid global.$motion-easing-in-out;

    &.#{vars.$rd-prefix-cls}-button--contained {
      background-color: #fff;
    }
  }

  &-content {
    position: sticky;
    top: vars.$header-height;
    width: $aside-width;
  }

  &-overlay {
    @media screen and (max-width: calc(global.$breakpoint-medium - 1px)) {
      position: fixed;
      top: 0;
      bottom: 0;
      z-index: global.$elevation-z-index-mask;
      width: 100%;
      height: 100%;
      background-color: hsla(
        global.$color-palette-hsl-neutral-1000,
        global.$opacity-38
      );
    }
  }

  .#{vars.$rd-prefix-cls}-menu {
    position: relative;
    z-index: global.$elevation-z-index-sticky;
    height: 100%;
    min-height: calc(100vh - vars.$header-height);
    min-height: calc(100dvh - vars.$header-height);
    max-height: calc(100vh - vars.$header-height);
    max-height: calc(100dvh - vars.$header-height);
    padding-bottom: 64px;

    overflow-y: auto;
    overflow-y: overlay;

    @include scrollbar.scrollbar(8px, 2px, true);

    .#{core.$prefix-cls}-menu-content {
      border-right: global.$border-width-xsmall solid
        global.$color-border-component-default;
    }
  }

  // aside animation
  @media screen and (max-width: calc(global.$breakpoint-medium - 1px)) {
    width: 0px;

    &.is-hide {
      .#{vars.$rd-prefix-cls}-aside-collapse-button {
        left: 0px;
      }
    }

    .#{vars.$rd-prefix-cls}-aside-animate {
      &-enter .rd-menu {
        display: block;
        transform: translate3d(-100%, 0%, 1px);
      }

      &-enter-active .rd-menu {
        transition: transform global.$motion-duration-rapid
          global.$motion-easing-in-out;
        transform: translate3d(0%, 0%, 1px);
      }

      &-exit .rd-menu {
        transform: translate3d(0%, 0%, 1px);
      }

      &-exit-active .rd-menu {
        transition: transform global.$motion-duration-rapid
          global.$motion-easing-in-out;
        transform: translate3d(-100%, 0%, 1px);
      }

      &-exit-done .rd-menu {
        display: none;
      }
    }
  }
}

.#{vars.$rd-prefix-cls}-content-layout {
  position: relative;
  z-index: 0;
  flex: 1;
  margin: 0 auto;

  .#{vars.$rd-prefix-cls}-main-content {
    display: flex;
    max-width: vars.$content-max-width;
    min-height: 100vh;
    min-height: 100dvh;
    margin: 0 auto;

    .markdown {
      position: relative;
      box-sizing: border-box;
      flex: 1;
      width: 0;
      min-width: 0;
      max-width: 100%;
      padding: global.$space-1-x global.$space-2-x;
      overflow: hidden;
      font-size: global.$font-size-small;

      & > .#{global.$prefix-cls}-code {
        margin-top: global.$space-05-x;
        margin-bottom: global.$space-1-x;
      }

      p > .#{global.$prefix-cls}-typography {
        font-size: inherit;
      }

      .#{global.$prefix-cls}-code {
        pre {
          border: 0px;
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &.#{global.$prefix-cls}-typography {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: global.$space-2-x;
        margin-bottom: global.$space-105-x;
      }

      .#{vars.$rd-prefix-cls}-heading-link {
        position: absolute;
        display: inline-flex;
        align-items: center;
        padding-right: global.$space-025-x;
        opacity: 0;
        transition: opacity global.$motion-duration-rapid
          global.$motion-easing-in-out;
        transform: translateX(-100%);

        &-icon {
          width: 1em;
          height: 1em;
          fill: currentColor;
          transform: scale(0.84);
        }
      }

      &:hover {
        .#{vars.$rd-prefix-cls}-heading-link {
          opacity: 1;
        }
      }

      .#{vars.$rd-prefix-cls}-heading-link:focus-visible {
        outline: none;
        opacity: 1;
      }
    }
  }
}

.#{vars.$rd-prefix-cls}-footer {
  padding-top: global.$space-2-x;
  padding-bottom: global.$space-1-x;
  border-top: 1px solid global.$color-border-divider-default;

  .#{vars.$rd-prefix-cls}-copyright {
    color: global.$color-text-secondary;
    text-align: center;

    p {
      margin: 0;

      & + p {
        margin-top: global.$space-05-x;
      }
    }
  }
}

.#{vars.$rd-prefix-cls}-toc {
  position: sticky;
  top: 150px;
  height: fit-content;
  min-height: 1px;
  max-height: calc(100vh - 240px);
  padding-top: 10px;
  padding-right: global.$space-2-x;
  overflow-y: auto;
  overflow-y: overlay;

  @include scrollbar.scrollbar();

  @media screen and (max-width: global.$breakpoint-large) {
    display: none;
  }

  .#{global.$prefix-cls}-anchor {
    width: 168px;
  }
}

.#{vars.$rd-prefix-cls}-root-layout {
  .#{vars.$rd-prefix-cls}-float-button {
    position: fixed;
    right: global.$space-2-x;
    bottom: global.$space-2-x;
  }
}

.#{vars.$rd-prefix-cls}-theme-switcher {
  display: inline-flex;
  align-items: center;
  font-size: global.$font-size-medium;
  color: global.$color-text-primary;
  transition: color global.$motion-duration-rapid global.$motion-easing-in-out;
}
