@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/plugins/helper/overflow';

@use 'vars';

.#{vars.$rd-prefix-cls}-doc-banner {
  box-sizing: border-box;
  max-width: vars.$content-max-width;
  padding: core.$space-2-x;
  margin: auto;
  overflow: hidden;

  &-container {
    position: relative;
    background-color: core.$color-surface-container-default;
    border-bottom: core.$border-width-xsmall solid
      core.$color-border-component-default;
    opacity: 1;
    transition: opacity core.$motion-duration-immediate
      core.$motion-easing-in-out;

    &--fixed {
      opacity: 0;
    }

    &--sticky {
      position: sticky;
      top: vars.$header-height;
      z-index: core.$elevation-z-index-sticky;
      margin-top: -77px;
      visibility: hidden;
      opacity: 0;

      &.#{vars.$rd-prefix-cls}-doc-banner-container--fixed {
        visibility: visible;
        opacity: 1;
      }

      .#{vars.$rd-prefix-cls}-doc-banner-title {
        text-overflow: ellipsis;
        @include overflow.text-ellipsis();
      }
    }
  }

  &-breadcrumbs {
    width: fit-content;
    padding: core.$space-05-x core.$space-075-x;
    margin-bottom: core.$space-105-x;
    background-color: core.$color-surface-neutral-default;
    border-radius: core.$radius-medium;
  }

  &-subtitle {
    margin-top: core.$space-1-x;
    margin-bottom: 0;
    color: core.$color-text-tertiary;
  }

  &-divider {
    margin-top: 0;
    margin-bottom: 0;
  }

  .#{vars.$rd-prefix-cls}-doc-banner--sticky {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &-title-affix {
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  &--sticky {
    padding-top: core.$space-1-x;
    padding-bottom: core.$space-1-x;

    background-color: core.$color-surface-container-default;
  }

  & &-title {
    &--sticky {
      margin: calc(0 - core.$space-2-x) !important;
    }
  }
}
