@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/plugins/helper/overflow';

@use 'vars';

.#{vars.$rd-prefix-cls}-page {
  max-width: core.$breakpoint-xxlarge;
  padding: core.$space-2-x core.$space-105-x;
  margin: auto;
  overflow: hidden;
}

.rd-banner {
  &-container {
    position: relative;
    display: flex;
    padding: core.$space-2-x 0;
  }

  &-bg {
    position: absolute;
    top: 0;
    right: calc(0px - #{core.$space-105-x});
    bottom: 0;
    left: calc(0px - #{core.$space-105-x});
    overflow: hidden;

    svg {
      position: absolute;
      // z-index: -1;
      bottom: 0;
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  &-hero {
    margin: 0;
    font-size: core.$font-size-xxxlarge;
    line-height: core.$line-height-comfortable;
    color: transparent;

    background-color: rgb(202, 86, 218);
    background-image: linear-gradient(
      135deg,
      rgba(202, 86, 218, 1) 0%,
      rgba(221, 53, 65, 1) 100%
    );
    -webkit-background-clip: text;
  }

  &-description {
    margin: 0;
    font-size: core.$font-size-xxlarge;
    line-height: core.$line-height-comfortable;
    color: core.$color-text-primary;
  }

  &-actions {
    margin-top: core.$space-2-x;
  }

  &-image-container {
    display: flex;
    justify-content: center;
    padding: core.$space-3-x;
  }

  &-logo {
    width: 100%;
    max-width: 320px;
    color: core.$color-shape-neutral-default;
    fill: currentColor;
  }

  @media (max-width: core.$breakpoint-medium) {
    &-container {
      flex-direction: column-reverse;
      padding-top: 0px;
    }

    &-hero {
      font-size: core.$font-size-xxlarge;
      line-height: core.$line-height-comfortable;
    }

    &-description {
      margin: 0;
      font-size: core.$font-size-xlarge;
      line-height: core.$line-height-comfortable;
    }

    &-image-container {
      padding: core.$space-1-x;
    }

    &-logo {
      max-width: 160px;
    }
  }
}

.rd-features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: core.$space-1-x;
  margin-top: core.$space-2-x;

  @media (max-width: core.$breakpoint-medium) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.rd-feature-card {
  padding: core.$space-1-x;
  overflow: hidden;
  background-color: core.$color-surface-neutral-default;
  border-radius: core.$radius-medium;

  &-icon {
    margin-bottom: core.$space-05-x;
    font-size: core.$font-size-xlarge;
    line-height: core.$line-height-xlarge;
    text-align: center;
  }

  &-title {
    margin-bottom: core.$space-05-x;
    font-size: core.$font-size-large;
    line-height: core.$line-height-large;
    text-align: center;
  }

  &-content {
    color: core.$color-text-secondary;
  }
}
