@use '@casts/theme/styles/scss/vars/core';
@use '@casts/theme/styles/plugins/helper/scrollbar';

@use 'vars';

.#{vars.$rd-prefix-cls}-search {
  padding: core.$space-05-x;

  &-dialog {
    @media (max-width: core.$breakpoint-small) {
      max-width: calc(100% - core.$space-2-x);
    }
  }

  &-result {
    max-height: 400px;
    max-height: min(calc(100vh - 228px), 400px);
    padding: 0px;
    margin-top: core.$space-1-x;
    overflow-y: auto;
    @include scrollbar.scrollbar(8px, 2px);
  }

  &-item {
    display: flex;
    gap: core.$space-05-x;
    align-items: flex-start;
    padding: core.$space-05-x;
    font-size: core.$font-size-small;
    color: core.$color-text-primary;
    text-decoration: none;
    border-radius: core.$radius-medium;
    transition-timing-function: core.$motion-easing-in-out;
    transition-duration: core.$motion-duration-rapid;
    transition-property: background-color, color;

    &:hover {
      color: core.$color-text-brand-default;
      background-color: core.$color-surface-brand-default;
    }

    & + & {
      margin-top: core.$space-025-x;
    }

    &-icon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      min-height: 24px;
      font-size: core.$font-size-large;
      line-height: core.$line-height-large;
    }

    &-content {
      flex: 1;
      text-align: left;
      strong {
        font-weight: normal;
        color: core.$color-text-brand-default;
      }
    }

    &-location {
      margin-top: core.$space-025-x;
      font-size: core.$font-size-xsmall;
      opacity: core.$opacity-60;
    }
  }
}
